<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>notificationTempleCoord</key>
	<string>aspectSinceChain</string>
	<key>profileDuringComposite</key>
	<string>tappableCubeVelocity</string>
	<key>queueBridgeRate</key>
	<string>keyRectSkewx</string>
	<key>relationalSinkDepth</key>
	<string>nextGrainShape</string>
	<key>rowWorkContrast</key>
	<string>webMethodRate</string>
	<key>themeBesideTier</key>
	<string>sinkIncludeType</string>
</dict>
</plist>
