<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentTransitionDirection</key>
	<string>persistentBaseMomentum</string>
	<key>diversifiedClipperMomentum</key>
	<string>permissiveSizedboxInset</string>
	<key>futureLikeAction</key>
	<string>asyncSliderCoord</string>
	<key>inkwellFlyweightState</key>
	<string>iconSingletonShade</string>
	<key>musicExceptChain</key>
	<string>topicOrWork</string>
	<key>pageviewJobOrientation</key>
	<string>textureDespiteObserver</string>
	<key>statelessWithoutFunction</key>
	<string>taskFacadeType</string>
</dict>
</plist>
