<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeLayoutResponse</key>
	<string>tweenThanDecorator</string>
	<key>captionDespiteMode</key>
	<string>dependencyFromObserver</string>
	<key>lossPerType</key>
	<string>hyperbolicAssetVelocity</string>
	<key>priorityLayerOrigin</key>
	<string>navigatorForStructure</string>
	<key>referenceDespiteSystem</key>
	<string>granularExceptionMargin</string>
</dict>
</plist>
