<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitStageShape</key>
	<string>permanentCapsuleFrequency</string>
	<key>largeStreamSkewy</key>
	<string>nibOfJob</string>
	<key>progressbarPrototypeVisible</key>
	<string>tweenOperationShape</string>
	<key>transitionVersusValue</key>
	<string>firstLabelSkewy</string>
</dict>
</plist>
