<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveMonsterSaturation</key>
	<string>tickerLayerState</string>
	<key>animationAwayLevel</key>
	<string>controllerObserverDensity</string>
	<key>disparateAllocatorVelocity</key>
	<string>protocolAmongVisitor</string>
	<key>observerEnvironmentHead</key>
	<string>mainRoleContrast</string>
	<key>smallAspectPressure</key>
	<string>comprehensiveEventOffset</string>
	<key>textureFromPhase</key>
	<string>resilientFeatureFormat</string>
	<key>usedManagerForce</key>
	<string>cursorWithInterpreter</string>
</dict>
</plist>
