<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncOfVar</key>
	<string>textMementoSpacing</string>
	<key>backwardAlignmentPosition</key>
	<string>aspectratioContextType</string>
	<key>enabledRowHead</key>
	<string>customConfigurationSize</string>
	<key>gradientPerComposite</key>
	<string>synchronousSubpixelOrientation</string>
	<key>spotIncludeComposite</key>
	<string>animationAlongBridge</string>
	<key>visibleAlignmentBehavior</key>
	<string>sineObserverColor</string>
</dict>
</plist>
