<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationIncludeParameter</key>
	<string>titleProxyOrientation</string>
	<key>groupBeyondOperation</key>
	<string>giftStrategyEdge</string>
	<key>overlayTypeTag</key>
	<string>constraintTaskSkewx</string>
	<key>resourceMediatorForce</key>
	<string>missionObserverInteraction</string>
	<key>responsiveCallbackVelocity</key>
	<string>cellByLevel</string>
	<key>resultAwayMemento</key>
	<string>otherGrayscaleTag</string>
	<key>retainedFrameSaturation</key>
	<string>instructionWithoutAdapter</string>
	<key>roleNumberTop</key>
	<string>directlyStatelessRate</string>
	<key>usedGrainInteraction</key>
	<string>configurationExceptPhase</string>
	<key>webCheckboxRight</key>
	<string>independentConvolutionVisibility</string>
</dict>
</plist>
