<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionListviewRotation</key>
	<string>gemShapePadding</string>
	<key>dependencyVisitorMomentum</key>
	<string>invisiblePopupLeft</string>
	<key>durationDespiteAction</key>
	<string>interpolationActionInteraction</string>
	<key>exceptionCompositeFeedback</key>
	<string>pinchableNavigationStyle</string>
	<key>fusedDescriptionPosition</key>
	<string>significantSpecifierPressure</string>
	<key>grainLayerDensity</key>
	<string>offsetStrategyFrequency</string>
	<key>interfaceBesideFramework</key>
	<string>prismaticStoreOpacity</string>
	<key>segueContainSystem</key>
	<string>capsuleAgainstPlatform</string>
	<key>substantialPromiseValidation</key>
	<string>widgetWithCommand</string>
</dict>
</plist>
