<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioBesideNumber</key>
	<string>durationVariableFormat</string>
	<key>asyncViaFunction</key>
	<string>movementPerStrategy</string>
	<key>gridSincePrototype</key>
	<string>sophisticatedSignatureState</string>
	<key>hardDurationAppearance</key>
	<string>groupStrategySize</string>
	<key>intuitiveNibState</key>
	<string>serviceExceptDecorator</string>
	<key>sustainableGrainSpeed</key>
	<string>visibleTransformerMomentum</string>
</dict>
</plist>
