<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxAgainstKind</key>
	<string>slashOperationShape</string>
	<key>documentAgainstVariable</key>
	<string>advancedServiceTail</string>
	<key>labelNumberStatus</key>
	<string>optimizerSingletonCount</string>
	<key>rowAlongVisitor</key>
	<string>invisibleProgressbarName</string>
	<key>textureThroughAdapter</key>
	<string>beginnerEntityBound</string>
	<key>toolLayerTheme</key>
	<string>persistentResponseScale</string>
</dict>
</plist>
