<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisVersusSingleton</key>
	<string>referenceValueTheme</string>
	<key>descriptionInDecorator</key>
	<string>subpixelProcessBorder</string>
	<key>desktopPopupDensity</key>
	<string>parallelPositionOrientation</string>
	<key>handlerAwayEnvironment</key>
	<string>cupertinoJobVelocity</string>
	<key>playbackAmongMode</key>
	<string>substantialRoleCenter</string>
	<key>relationalUtilCount</key>
	<string>usecaseByStage</string>
</dict>
</plist>
