<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>normalMultiplicationLeft</key>
	<string>storageSystemStatus</string>
	<key>reducerAgainstChain</key>
	<string>keyGroupBehavior</string>
	<key>smallResultColor</key>
	<string>techniqueObserverResponse</string>
	<key>textScopeKind</key>
	<string>petFromMethod</string>
	<key>utilTypeMode</key>
	<string>storageProxyMomentum</string>
</dict>
</plist>
