<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customStorePressure</key>
	<string>previewAboutVar</string>
	<key>immediateGroupRotation</key>
	<string>shaderForComposite</string>
	<key>methodContainParam</key>
	<string>equipmentAboutContext</string>
	<key>statelessAlongFlyweight</key>
	<string>factoryInsidePlatform</string>
	<key>stepCommandOrientation</key>
	<string>usecaseAboutStage</string>
</dict>
</plist>
