<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeBufferIndex</key>
	<string>associatedCollectionSize</string>
	<key>cursorLikeOperation</key>
	<string>navigatorKindColor</string>
	<key>displayableGramOpacity</key>
	<string>channelOrStructure</string>
	<key>graphAtTask</key>
	<string>spriteActionPadding</string>
	<key>hashWithType</key>
	<string>stepBufferCoord</string>
	<key>hyperbolicLoopMargin</key>
	<string>storyboardParameterTint</string>
	<key>nibFacadeBorder</key>
	<string>directlyRowMode</string>
	<key>observerMethodBehavior</key>
	<string>techniqueOutsideFlyweight</string>
	<key>requestObserverDirection</key>
	<string>decorationDuringVisitor</string>
</dict>
</plist>
