<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorWithChain</key>
	<string>checklistPatternTheme</string>
	<key>completerWithContext</key>
	<string>rowScopeKind</string>
	<key>menuPlatformDelay</key>
	<string>iconVersusTask</string>
	<key>queryThroughStyle</key>
	<string>chapterWithoutSystem</string>
	<key>reductionMementoTension</key>
	<string>capacitiesModeTop</string>
	<key>skirtTempleTint</key>
	<string>configurationActionLeft</string>
	<key>ternaryLayerMomentum</key>
	<string>paddingAwayParameter</string>
	<key>uniqueEntropyInset</key>
	<string>beginnerTextureCenter</string>
</dict>
</plist>
