<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateJobColor</key>
	<string>axisPrototypeTint</string>
	<key>frameSingletonForce</key>
	<string>screenChainPressure</string>
	<key>interpolationWithChain</key>
	<string>dropdownbuttonParamRate</string>
	<key>lazyCycleSaturation</key>
	<string>concreteDescriptionTail</string>
	<key>nextQueueOpacity</key>
	<string>staticGraphicDistance</string>
	<key>screenOutsideState</key>
	<string>intermediateLogColor</string>
	<key>statelessActivityInteraction</key>
	<string>mobilePhaseOrientation</string>
</dict>
</plist>
