<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonBufferVelocity</key>
	<string>diversifiedLayoutInset</string>
	<key>commandWithoutValue</key>
	<string>constCatalystEdge</string>
	<key>composableCellAlignment</key>
	<string>nodeByBuffer</string>
	<key>concurrentTweenBorder</key>
	<string>desktopManagerShape</string>
	<key>elasticEffectHead</key>
	<string>temporaryPresenterFormat</string>
	<key>geometricTitleDensity</key>
	<string>customNibPosition</string>
	<key>modelTypeCenter</key>
	<string>isolateObserverScale</string>
	<key>switchStageDelay</key>
	<string>denseButtonMomentum</string>
	<key>tweenDuringObserver</key>
	<string>taskTaskForce</string>
	<key>vectorSinceChain</key>
	<string>radioOfProcess</string>
</dict>
</plist>
