<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicBufferSkewx</key>
	<string>iconTypeOrigin</string>
	<key>bufferStructureResponse</key>
	<string>navigatorAndState</string>
	<key>compositionalDelegateTop</key>
	<string>persistentConstraintCount</string>
	<key>curveOrLayer</key>
	<string>pointValueRate</string>
	<key>directDelegateSpeed</key>
	<string>timerCompositeTag</string>
	<key>multiHeapStyle</key>
	<string>taskCommandMomentum</string>
	<key>numericalBrushBottom</key>
	<string>bulletStateOffset</string>
	<key>smartProjectionStatus</key>
	<string>smartCurveSkewy</string>
	<key>substantialMovementFormat</key>
	<string>sizeAboutStructure</string>
</dict>
</plist>
