<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineViaLevel</key>
	<string>aspectAmongCycle</string>
	<key>consumerVersusProxy</key>
	<string>progressbarContainVar</string>
	<key>entityJobSize</key>
	<string>behaviorLikeVisitor</string>
	<key>isolateLikeVar</key>
	<string>tabbarDuringTier</string>
	<key>iterativeTangentSpacing</key>
	<string>variantDespiteFunction</string>
	<key>nibMediatorSaturation</key>
	<string>draggableContractionDistance</string>
	<key>presenterPerAdapter</key>
	<string>matrixCommandKind</string>
	<key>rowIncludeMemento</key>
	<string>rowSystemCount</string>
	<key>storageWithContext</key>
	<string>sensorByFlyweight</string>
	<key>utilLayerFormat</key>
	<string>criticalProviderBehavior</string>
</dict>
</plist>
