<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionPerDecorator</key>
	<string>beginnerEventRight</string>
	<key>constLabelDepth</key>
	<string>grainObserverTag</string>
	<key>displayableEffectAppearance</key>
	<string>blocActivityTop</string>
	<key>effectThroughScope</key>
	<string>chartAmongMode</string>
	<key>errorAgainstVar</key>
	<string>bulletLikeState</string>
	<key>prismaticGradientSaturation</key>
	<string>bitrateAboutJob</string>
	<key>radiusFacadeHead</key>
	<string>channelsUntilStyle</string>
	<key>viewByPrototype</key>
	<string>greatAppbarHead</string>
</dict>
</plist>
