<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationDuringParameter</key>
	<string>gradientSingletonFrequency</string>
	<key>baseStateTag</key>
	<string>awaitSinceNumber</string>
	<key>contractionBridgeBottom</key>
	<string>requiredSpecifierHue</string>
	<key>diffableMediaLocation</key>
	<string>localTaskSpeed</string>
	<key>flexExceptProxy</key>
	<string>reductionObserverTop</string>
	<key>particleParamStatus</key>
	<string>functionalQuerySpacing</string>
	<key>positionedPlatformFormat</key>
	<string>fusedAnimationKind</string>
	<key>uniformLogRate</key>
	<string>directAspectBrightness</string>
</dict>
</plist>
