<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cycleBeyondPhase</key>
	<string>injectionTypeVisibility</string>
	<key>liteActivityMomentum</key>
	<string>sessionForAction</string>
	<key>mapAwayParameter</key>
	<string>assetInVisitor</string>
	<key>sizedboxFlyweightDelay</key>
	<string>alertSinceMode</string>
</dict>
</plist>
