<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gradientAndDecorator</key>
	<string>effectFormVelocity</string>
	<key>modalActionOffset</key>
	<string>inactiveStatelessStatus</string>
	<key>protocolPerSystem</key>
	<string>boxshadowOfCommand</string>
	<key>resourceOfKind</key>
	<string>nibAwayBuffer</string>
	<key>richtextStateSkewy</key>
	<string>borderOfState</string>
</dict>
</plist>
