<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertUntilLayer</key>
	<string>callbackFunctionBound</string>
	<key>ephemeralObserverPosition</key>
	<string>sizePrototypeVisible</string>
	<key>errorThroughPlatform</key>
	<string>storeJobPosition</string>
	<key>globalInjectionInset</key>
	<string>customCaptionAlignment</string>
	<key>keyGateDistance</key>
	<string>matrixDuringAction</string>
	<key>labelIncludePrototype</key>
	<string>awaitCycleColor</string>
	<key>statePlatformSize</key>
	<string>robustListviewHue</string>
	<key>storeDespiteJob</key>
	<string>directCubeOffset</string>
	<key>widgetScopeBehavior</key>
	<string>drawerStyleForce</string>
</dict>
</plist>
