<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityWithoutObserver</key>
	<string>progressbarFlyweightCoord</string>
	<key>difficultPlaybackSkewx</key>
	<string>seamlessScreenScale</string>
	<key>dynamicSpriteTheme</key>
	<string>alphaUntilPhase</string>
	<key>fusedProgressbarInset</key>
	<string>awaitNearCommand</string>
	<key>immutableLabelSize</key>
	<string>invisibleAnimationName</string>
	<key>responseAdapterMargin</key>
	<string>criticalAxisDuration</string>
	<key>staticPainterVisible</key>
	<string>animationVariableCount</string>
	<key>tensorLabelSkewx</key>
	<string>rowIncludeVisitor</string>
	<key>topicByTemple</key>
	<string>immediatePetBound</string>
	<key>utilVariableTheme</key>
	<string>chapterAwayLayer</string>
</dict>
</plist>
