<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticObserverBehavior</key>
	<string>previewProcessSaturation</string>
	<key>characterInterpreterHead</key>
	<string>typicalOperationCenter</string>
	<key>customSubpixelSize</key>
	<string>concurrentDropdownbuttonTail</string>
	<key>sizeModeDuration</key>
	<string>easyBufferPadding</string>
	<key>skirtKindInterval</key>
	<string>rowVariableFrequency</string>
	<key>statePrototypeTop</key>
	<string>publicSpotFeedback</string>
</dict>
</plist>
