<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleTitleEdge</key>
	<string>interpolationBridgePosition</string>
	<key>activatedDecorationValidation</key>
	<string>specifyOptionEdge</string>
	<key>chapterWithComposite</key>
	<string>graphicBeyondState</string>
	<key>listenerFromVariable</key>
	<string>tensorParticleSize</string>
	<key>significantBuilderOrientation</key>
	<string>stateStrategyVisibility</string>
	<key>sineAsPrototype</key>
	<string>mediumReducerFlags</string>
	<key>stepByScope</key>
	<string>sessionChainSkewx</string>
</dict>
</plist>
