<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeOverlayDelay</key>
	<string>textAsPlatform</string>
	<key>alignmentContainLayer</key>
	<string>unsortedDescriptionBound</string>
	<key>commonFutureKind</key>
	<string>containerAmongFramework</string>
	<key>controllerEnvironmentColor</key>
	<string>richtextFrameworkCoord</string>
	<key>extensionBeyondMethod</key>
	<string>awaitVariableSkewy</string>
	<key>modulusAtStructure</key>
	<string>channelsInsideWork</string>
	<key>subpixelWithContext</key>
	<string>immediateAlertFormat</string>
	<key>subscriptionDecoratorLocation</key>
	<string>diversifiedFrameSkewx</string>
	<key>utilVarVisibility</key>
	<string>modelExceptNumber</string>
</dict>
</plist>
