<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetWithPattern</key>
	<string>playbackAwayPrototype</string>
	<key>bufferFromStyle</key>
	<string>blocInComposite</string>
	<key>delegateAsBuffer</key>
	<string>agileBlocTail</string>
	<key>gramBridgeInset</key>
	<string>usageFlyweightEdge</string>
	<key>zoneOrStage</key>
	<string>unsortedTimerDensity</string>
</dict>
</plist>
