<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleCommandTail</key>
	<string>requestDespiteBuffer</string>
	<key>animatedcontainerNumberFrequency</key>
	<string>sliderBesideParameter</string>
	<key>layoutVariableTransparency</key>
	<string>boxshadowFlyweightTheme</string>
	<key>mediocreFeatureRight</key>
	<string>dependencyStrategyAlignment</string>
	<key>movementLevelBorder</key>
	<string>interpolationSingletonResponse</string>
	<key>queueTypeStyle</key>
	<string>semanticSignMomentum</string>
	<key>referenceLikeChain</key>
	<string>apertureVersusActivity</string>
</dict>
</plist>
