<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationJobCount</key>
	<string>diffableIsolateMode</string>
	<key>arithmeticRichtextHue</key>
	<string>parallelTernaryBehavior</string>
	<key>associatedSensorKind</key>
	<string>nibOrValue</string>
	<key>dependencyWorkVisibility</key>
	<string>mediocreExpandedRight</string>
	<key>enabledInterfaceSkewx</key>
	<string>currentRowPadding</string>
	<key>factoryActionTop</key>
	<string>gesturedetectorValueAcceleration</string>
	<key>functionalOverlayCount</key>
	<string>priorityContextBottom</string>
	<key>masterWithoutTemple</key>
	<string>drawerAwayJob</string>
	<key>navigatorAsTier</key>
	<string>actionProcessOpacity</string>
	<key>rectStrategyTheme</key>
	<string>materialCompositeMode</string>
</dict>
</plist>
