<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredCatalystVisible</key>
	<string>priorityContainType</string>
	<key>factoryInsideMode</key>
	<string>alphaDuringTemple</string>
	<key>prevConstraintShade</key>
	<string>descriptionFunctionMomentum</string>
	<key>reusableSineInteraction</key>
	<string>menuLikeShape</string>
	<key>scrollVarCoord</key>
	<string>batchWithoutAction</string>
	<key>storeThroughFacade</key>
	<string>displayableCharacterSpeed</string>
	<key>taskObserverVisible</key>
	<string>textDespiteMethod</string>
	<key>zonePlatformAppearance</key>
	<string>euclideanRepositoryCoord</string>
</dict>
</plist>
