<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryAndLevel</key>
	<string>autoOffsetMomentum</string>
	<key>compositionalActionMode</key>
	<string>transformerVersusMediator</string>
	<key>extensionDespiteFlyweight</key>
	<string>transformerVisitorLocation</string>
	<key>listenerInTier</key>
	<string>animationAdapterTail</string>
</dict>
</plist>
