<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>greatChartValidation</key>
	<string>petThroughBuffer</string>
	<key>mediaFacadeContrast</key>
	<string>widgetObserverFlags</string>
	<key>sensorExceptAdapter</key>
	<string>scaleWithoutEnvironment</string>
	<key>singletonActionContrast</key>
	<string>disabledFrameRate</string>
	<key>vectorAwayNumber</key>
	<string>concurrentFragmentBorder</string>
</dict>
</plist>
