<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorChainMomentum</key>
	<string>cardNearShape</string>
	<key>containerAwayWork</key>
	<string>dynamicAsyncColor</string>
	<key>injectionVariablePadding</key>
	<string>capacitiesMethodTheme</string>
	<key>menuTierFeedback</key>
	<string>mutableFeatureShade</string>
	<key>positionedVarBound</key>
	<string>painterVersusActivity</string>
	<key>segueOfFunction</key>
	<string>labelVarCoord</string>
	<key>standaloneTweenPressure</key>
	<string>gramPerStructure</string>
	<key>streamUntilLayer</key>
	<string>vectorWorkCount</string>
	<key>subtleCallbackDelay</key>
	<string>anchorFunctionStyle</string>
</dict>
</plist>
