<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderBesideJob</key>
	<string>concurrentZoneDuration</string>
	<key>builderVarLocation</key>
	<string>radiusVersusPhase</string>
	<key>decorationDuringFunction</key>
	<string>symbolWorkTop</string>
	<key>futureUntilType</key>
	<string>eventLayerBrightness</string>
	<key>invisibleContainerSize</key>
	<string>controllerScopeHead</string>
	<key>keyTickerInterval</key>
	<string>currentNotificationColor</string>
	<key>offsetWorkRotation</key>
	<string>mobileSessionTheme</string>
	<key>reactiveSessionSkewx</key>
	<string>previewAdapterBorder</string>
	<key>roleInParam</key>
	<string>discardedNodeBehavior</string>
	<key>textfieldOutsideStyle</key>
	<string>pinchableButtonDelay</string>
</dict>
</plist>
