<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveGetxAcceleration</key>
	<string>resilientDecorationForce</string>
	<key>constraintOutsideCycle</key>
	<string>independentProjectSize</string>
	<key>coordinatorWorkInterval</key>
	<string>roleStageVelocity</string>
	<key>euclideanGridTint</key>
	<string>bulletMethodInset</string>
	<key>histogramStructureSpeed</key>
	<string>interactiveScaffoldDirection</string>
	<key>localizationNearVar</key>
	<string>declarativeTableCount</string>
	<key>sequentialRadiusLocation</key>
	<string>utilTempleSpeed</string>
	<key>smartBlocSkewy</key>
	<string>profileForTask</string>
	<key>vectorOutsidePhase</key>
	<string>kernelAtLevel</string>
</dict>
</plist>
