<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorTaskMode</key>
	<string>intensityValueDuration</string>
	<key>animatedBoxName</key>
	<string>logarithmThanAdapter</string>
	<key>asyncAmongSingleton</key>
	<string>sensorVisitorOrigin</string>
	<key>errorAlongKind</key>
	<string>subscriptionPerProcess</string>
	<key>metadataCompositeOffset</key>
	<string>parallelCosineShape</string>
	<key>titleAlongComposite</key>
	<string>rapidChallengeTop</string>
</dict>
</plist>
