<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedProfileSaturation</key>
	<string>nextScalePosition</string>
	<key>consultativeCellRate</key>
	<string>subtleFrameTint</string>
	<key>directlyCompletionFeedback</key>
	<string>textTaskType</string>
	<key>queryAboutInterpreter</key>
	<string>resizableStreamContrast</string>
	<key>significantEffectAlignment</key>
	<string>entityAroundJob</string>
	<key>subsequentSineColor</key>
	<string>interfaceCompositeIndex</string>
</dict>
</plist>
