<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedLoopIndex</key>
	<string>smallPopupBound</string>
	<key>cardFlyweightTint</key>
	<string>numericalPresenterDepth</string>
	<key>crudeIndicatorInset</key>
	<string>desktopCyclePosition</string>
	<key>dialogsSystemFeedback</key>
	<string>referenceFormCoord</string>
	<key>directlyTickerPosition</key>
	<string>rowOutsideBuffer</string>
	<key>diversifiedCertificateForce</key>
	<string>newestProfileStatus</string>
	<key>globalLocalizationHue</key>
	<string>presenterThanParameter</string>
	<key>mobileDurationVelocity</key>
	<string>offsetPerMediator</string>
	<key>multiImageMomentum</key>
	<string>challengeFlyweightDirection</string>
	<key>screenBesideTemple</key>
	<string>touchProxyStyle</string>
</dict>
</plist>
