<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedArithmeticDelay</key>
	<string>finalInterpolationCount</string>
	<key>descriptionWorkStyle</key>
	<string>positionJobTint</string>
	<key>finalProfileBottom</key>
	<string>errorPerTier</string>
	<key>memberParameterOrigin</key>
	<string>newestContainerAppearance</string>
	<key>nodeAsParam</key>
	<string>nextAnimatedcontainerEdge</string>
	<key>radiusByCycle</key>
	<string>sortedCharacterVelocity</string>
	<key>rapidModalRate</key>
	<string>greatUsecaseFlags</string>
	<key>roleDecoratorSaturation</key>
	<string>monsterAmongParameter</string>
	<key>subpixelVarBound</key>
	<string>radiusInBuffer</string>
	<key>substantialExtensionColor</key>
	<string>spotAtMethod</string>
</dict>
</plist>
