<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>featureFromChain</key>
	<string>gridDecoratorMode</string>
	<key>mutableStoryboardDuration</key>
	<string>textureBridgeFlags</string>
</dict>
</plist>
