<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedRichtextPosition</key>
	<string>opaqueChecklistMode</string>
	<key>immediateEventTransparency</key>
	<string>grainCycleInset</string>
	<key>liteSignatureType</key>
	<string>resolverAwayVar</string>
	<key>localizationTempleOpacity</key>
	<string>nextMetadataAppearance</string>
	<key>materialQueueVisibility</key>
	<string>displayableBoxCenter</string>
	<key>sinkPerCycle</key>
	<string>cardAgainstMode</string>
	<key>usecaseFrameworkPadding</key>
	<string>functionalNodeOffset</string>
</dict>
</plist>
