<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedDimensionMargin</key>
	<string>vectorCommandInterval</string>
	<key>backwardTaskPosition</key>
	<string>inkwellUntilTask</string>
	<key>futureDuringKind</key>
	<string>protocolStructureEdge</string>
	<key>routerExceptFlyweight</key>
	<string>boxJobValidation</string>
	<key>sustainableLossLeft</key>
	<string>descriptionAgainstInterpreter</string>
</dict>
</plist>
