<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityAdapterDelay</key>
	<string>usedFutureVisibility</string>
	<key>exponentVarSkewx</key>
	<string>resolverDuringLevel</string>
	<key>gesturePlatformKind</key>
	<string>loopFacadeBrightness</string>
	<key>oldVectorDistance</key>
	<string>buttonInterpreterScale</string>
	<key>positionedFlyweightVisible</key>
	<string>streamLikeKind</string>
	<key>protocolAroundProcess</key>
	<string>dedicatedEqualizationName</string>
	<key>radioPlatformDistance</key>
	<string>streamViaActivity</string>
	<key>retainedCompleterKind</key>
	<string>alertParamDuration</string>
	<key>significantViewMargin</key>
	<string>positionAgainstMediator</string>
	<key>symmetricPresenterFlags</key>
	<string>matrixKindDistance</string>
</dict>
</plist>
