<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveCellBound</key>
	<string>comprehensiveSliderBrightness</string>
	<key>dimensionFacadeAlignment</key>
	<string>slashPhaseOpacity</string>
	<key>intuitiveOptionFrequency</key>
	<string>heroAmongJob</string>
	<key>layoutWithFunction</key>
	<string>layerInsideParam</string>
	<key>slashUntilAdapter</key>
	<string>asyncProjectionMargin</string>
	<key>viewAboutProxy</key>
	<string>normWithPrototype</string>
</dict>
</plist>
