<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderTierOrigin</key>
	<string>uniqueInterfaceOffset</string>
	<key>callbackLikeVisitor</key>
	<string>staticProjectionMargin</string>
	<key>delegateCycleVisible</key>
	<string>layoutFormDirection</string>
	<key>displayableBlocOpacity</key>
	<string>secondMobileDuration</string>
	<key>fusedCallbackBound</key>
	<string>singleProviderContrast</string>
	<key>notifierByContext</key>
	<string>resultModeTension</string>
	<key>priorLayoutStatus</key>
	<string>smartProjectVisible</string>
	<key>tangentUntilVariable</key>
	<string>uniformSymbolName</string>
</dict>
</plist>
