<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetJobSize</key>
	<string>extensionAmongProxy</string>
	<key>containerContainScope</key>
	<string>newestCompleterBottom</string>
	<key>injectionObserverOpacity</key>
	<string>featureWithForm</string>
	<key>isolateBeyondJob</key>
	<string>actionUntilStructure</string>
	<key>largePaddingDepth</key>
	<string>cycleDuringOperation</string>
	<key>litePainterAppearance</key>
	<string>seamlessLogLocation</string>
	<key>particleFormPadding</key>
	<string>routeTempleStyle</string>
	<key>subpixelTypeForce</key>
	<string>priorMemberIndex</string>
</dict>
</plist>
