<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureLevelOffset</key>
	<string>missedCaptionFrequency</string>
	<key>asynchronousTabbarTint</key>
	<string>chartTypeMargin</string>
	<key>beginnerManagerForce</key>
	<string>durationCommandBehavior</string>
	<key>brushAlongActivity</key>
	<string>spotAboutScope</string>
	<key>ephemeralSingletonSpeed</key>
	<string>diversifiedMediaDistance</string>
	<key>hardCosineKind</key>
	<string>listviewDespiteTask</string>
	<key>modulusDespiteProxy</key>
	<string>originalSliderScale</string>
	<key>skirtStructureBrightness</key>
	<string>explicitDelegateDepth</string>
	<key>spotMethodSize</key>
	<string>containerTaskSaturation</string>
</dict>
</plist>
