<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsAsBuffer</key>
	<string>featureShapeEdge</string>
	<key>difficultServiceOffset</key>
	<string>descriptionExceptTask</string>
	<key>euclideanLossFrequency</key>
	<string>custompaintWithoutMemento</string>
	<key>instructionStateOpacity</key>
	<string>routeAtTemple</string>
	<key>permissiveLoopResponse</key>
	<string>binaryEnvironmentMomentum</string>
</dict>
</plist>
