<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custompaintWithMethod</key>
	<string>modelOutsideMediator</string>
	<key>futureFlyweightRotation</key>
	<string>tappableNotifierTop</string>
	<key>newestBorderTail</key>
	<string>symbolAsState</string>
	<key>primaryListenerOrientation</key>
	<string>delicateMetadataAcceleration</string>
	<key>specifyAspectDensity</key>
	<string>tableThroughChain</string>
</dict>
</plist>
