<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardFlyweightSpeed</key>
	<string>allocatorAlongFlyweight</string>
	<key>difficultQueryCenter</key>
	<string>sustainableRoleOpacity</string>
	<key>normMediatorIndex</key>
	<string>effectAtCycle</string>
	<key>observerLevelAlignment</key>
	<string>grainPerValue</string>
	<key>sampleOutsideWork</key>
	<string>catalystFormTint</string>
</dict>
</plist>
