<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeMediatorName</key>
	<string>mediumIntensityTension</string>
	<key>consultativePopupBound</key>
	<string>concreteTabviewRate</string>
	<key>mediumContainerForce</key>
	<string>catalystUntilMode</string>
	<key>missedScaffoldTag</key>
	<string>appbarFacadeIndex</string>
	<key>primaryHandlerType</key>
	<string>crucialInteractorDelay</string>
	<key>stepPhaseSpeed</key>
	<string>tabbarAsLayer</string>
</dict>
</plist>
