<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerTaskRate</key>
	<string>particleShapeTint</string>
	<key>clipperTempleDirection</key>
	<string>interactorVisitorEdge</string>
	<key>coordinatorUntilScope</key>
	<string>cycleFormDirection</string>
	<key>ephemeralDimensionInset</key>
	<string>serviceScopeShade</string>
	<key>functionalStoreFeedback</key>
	<string>titleAmongWork</string>
	<key>layerAdapterSpacing</key>
	<string>responseTaskCount</string>
	<key>staticAlphaHue</key>
	<string>cardAmongTask</string>
	<key>usedSegueRate</key>
	<string>slashChainLocation</string>
</dict>
</plist>
