<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerContainProcess</key>
	<string>futureThanForm</string>
	<key>customizedStackDuration</key>
	<string>textureMementoCoord</string>
	<key>listenerDecoratorState</key>
	<string>storyboardEnvironmentInteraction</string>
	<key>resourcePerWork</key>
	<string>painterNearStrategy</string>
	<key>robustResourceBound</key>
	<string>getxAlongVar</string>
	<key>similarAssetLeft</key>
	<string>standalonePlaybackFormat</string>
	<key>stampChainOpacity</key>
	<string>greatChartDirection</string>
	<key>tickerPerState</key>
	<string>ternaryStageSpeed</string>
</dict>
</plist>
