<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>primaryProtocolBehavior</key>
	<string>significantBinaryFrequency</string>
	<key>protocolKindStyle</key>
	<string>alertFunctionOffset</string>
	<key>rectDuringTier</key>
	<string>diffableSliderCoord</string>
	<key>tangentIncludeMediator</key>
	<string>marginInWork</string>
</dict>
</plist>
