<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintWithoutFacade</key>
	<string>documentIncludeCycle</string>
	<key>disparateSpinePressure</key>
	<string>rowDespiteValue</string>
	<key>entityPrototypeMomentum</key>
	<string>responsiveButtonCoord</string>
	<key>gestureTierMomentum</key>
	<string>alertAtLayer</string>
	<key>interactiveAlertDepth</key>
	<string>temporaryDelegateMode</string>
	<key>keyRouterOrigin</key>
	<string>primaryHeroPosition</string>
	<key>sceneLikeJob</key>
	<string>scrollableBlocHue</string>
	<key>symmetricAllocatorTint</key>
	<string>repositoryBufferIndex</string>
	<key>variantAboutTemple</key>
	<string>frameCommandCenter</string>
</dict>
</plist>
