<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellActionBehavior</key>
	<string>futureForComposite</string>
	<key>hyperbolicUtilPadding</key>
	<string>builderOutsideTask</string>
	<key>transitionCycleAppearance</key>
	<string>pinchableCertificateCount</string>
	<key>widgetAndStyle</key>
	<string>managerLayerContrast</string>
</dict>
</plist>
