<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diversifiedPositionFormat</key>
	<string>completerTaskBorder</string>
	<key>grainShapeBehavior</key>
	<string>functionalAlphaEdge</string>
	<key>iterativeAspectratioEdge</key>
	<string>containerAroundPlatform</string>
	<key>lossAroundComposite</key>
	<string>firstSliderShade</string>
	<key>promiseInterpreterSpacing</key>
	<string>backwardRouteOrientation</string>
	<key>seamlessLossSkewx</key>
	<string>autoListenerCenter</string>
	<key>skirtDespiteFlyweight</key>
	<string>indicatorJobAlignment</string>
	<key>topicFrameworkResponse</key>
	<string>gateOutsideState</string>
</dict>
</plist>
