<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineOperationInset</key>
	<string>zoneThroughJob</string>
	<key>curvePhaseFlags</key>
	<string>skirtLevelTop</string>
	<key>radiusNearType</key>
	<string>accessoryContainAdapter</string>
	<key>stackEnvironmentMargin</key>
	<string>requestParamLocation</string>
</dict>
</plist>
