<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerVisitorSkewx</key>
	<string>tensorRoleContrast</string>
	<key>entropyVisitorIndex</key>
	<string>lazyRichtextBound</string>
	<key>graphicAgainstStrategy</key>
	<string>loopContainStyle</string>
	<key>independentCanvasVisibility</key>
	<string>taskPlatformFlags</string>
	<key>instructionBridgeVisibility</key>
	<string>skinNearValue</string>
	<key>resizableTernaryLocation</key>
	<string>ignoredReferenceValidation</string>
	<key>statelessPresenterDelay</key>
	<string>skinAndFlyweight</string>
</dict>
</plist>
