<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstMemberRate</key>
	<string>cupertinoMethodTransparency</string>
	<key>instructionVisitorIndex</key>
	<string>concurrentAnimationFormat</string>
	<key>labelStateDepth</key>
	<string>delegateDespiteStructure</string>
	<key>lostSensorFlags</key>
	<string>factoryCompositeContrast</string>
	<key>primaryViewBrightness</key>
	<string>nodeMementoEdge</string>
</dict>
</plist>
