<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeBlocIndex</key>
	<string>publicMonsterStatus</string>
	<key>advancedNavigatorFormat</key>
	<string>statefulWithScope</string>
	<key>buttonAdapterName</key>
	<string>channelPhaseSkewy</string>
	<key>eagerCertificateName</key>
	<string>interpolationShapeMode</string>
	<key>fragmentEnvironmentTension</key>
	<string>topicAsDecorator</string>
	<key>geometricLayoutScale</key>
	<string>observerObserverTheme</string>
	<key>reducerStructureTint</key>
	<string>channelSinceDecorator</string>
	<key>switchAwayParam</key>
	<string>activatedSinkVisible</string>
</dict>
</plist>
