<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderSystemOrigin</key>
	<string>viewThanParam</string>
	<key>delegateBufferDirection</key>
	<string>catalystSystemBorder</string>
	<key>dimensionFromInterpreter</key>
	<string>promisePerMode</string>
	<key>effectViaParameter</key>
	<string>durationOrState</string>
	<key>ephemeralResourceOffset</key>
	<string>independentIntegerAlignment</string>
	<key>histogramStyleMargin</key>
	<string>usedProfileTint</string>
	<key>matrixOfSystem</key>
	<string>subpixelAroundSystem</string>
	<key>sinkViaBridge</key>
	<string>crudeChannelSkewy</string>
	<key>spotDuringValue</key>
	<string>intuitiveThemeEdge</string>
</dict>
</plist>
