<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateMementoForce</key>
	<string>hierarchicalListviewVelocity</string>
	<key>navigationPhaseTail</key>
	<string>swiftInsidePlatform</string>
	<key>opaqueTweenFrequency</key>
	<string>pinchableProjectState</string>
	<key>slashViaSystem</key>
	<string>labelAgainstState</string>
	<key>threadOfLayer</key>
	<string>channelsWithoutEnvironment</string>
</dict>
</plist>
