<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryStrategyTint</key>
	<string>sizedboxFunctionShade</string>
	<key>referencePlatformKind</key>
	<string>workflowInMediator</string>
	<key>remainderKindResponse</key>
	<string>newestHeapVisible</string>
	<key>textfieldStructureFlags</key>
	<string>asynchronousRouterStyle</string>
</dict>
</plist>
