<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationSinceCycle</key>
	<string>basicCubeSpeed</string>
	<key>contractionAgainstPlatform</key>
	<string>timerOrCommand</string>
	<key>declarativeRouteTail</key>
	<string>scrollAroundSystem</string>
	<key>descriptionAlongValue</key>
	<string>playbackInterpreterValidation</string>
	<key>displayableTaskDistance</key>
	<string>statelessPerEnvironment</string>
	<key>grayscaleForTier</key>
	<string>playbackParameterLeft</string>
	<key>interactiveConfigurationColor</key>
	<string>finalMethodTail</string>
	<key>pivotalSpineAppearance</key>
	<string>disabledOperationContrast</string>
	<key>providerVersusStage</key>
	<string>texturePlatformTheme</string>
	<key>reductionAtMemento</key>
	<string>frameBufferSize</string>
</dict>
</plist>
