<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorUntilShape</key>
	<string>descriptorAmongNumber</string>
	<key>nativeRoleType</key>
	<string>intensityContainEnvironment</string>
	<key>providerPrototypeScale</key>
	<string>graphicAboutTemple</string>
	<key>routeEnvironmentDistance</key>
	<string>stampParamLocation</string>
	<key>storyboardStageVelocity</key>
	<string>giftInsideForm</string>
</dict>
</plist>
