<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentInsideDecorator</key>
	<string>bitrateIncludeAction</string>
	<key>appbarMethodFlags</key>
	<string>borderAboutMemento</string>
	<key>fusedWorkflowStatus</key>
	<string>nibAroundNumber</string>
	<key>masterViaFunction</key>
	<string>managerAlongMode</string>
	<key>oldLabelTag</key>
	<string>remainderLevelStyle</string>
	<key>persistentCoordinatorPressure</key>
	<string>smartBatchScale</string>
	<key>semanticQueueAcceleration</key>
	<string>chapterFromKind</string>
	<key>subscriptionAwayWork</key>
	<string>channelsVarTint</string>
	<key>threadKindDepth</key>
	<string>immediateBaselineVisible</string>
</dict>
</plist>
