<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveMenuBrightness</key>
	<string>transformerTierVisible</string>
	<key>backwardSpriteRight</key>
	<string>textfieldProxyDensity</string>
	<key>compositionalServiceAcceleration</key>
	<string>textKindInset</string>
	<key>giftProxyFrequency</key>
	<string>lossDecoratorForce</string>
	<key>tensorHistogramResponse</key>
	<string>futureAgainstStyle</string>
</dict>
</plist>
