<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAppbarInset</key>
	<string>subscriptionBeyondType</string>
	<key>immediateClipperOrientation</key>
	<string>popupThroughAdapter</string>
	<key>liteErrorOffset</key>
	<string>buttonSystemMomentum</string>
	<key>primaryProtocolOrigin</key>
	<string>zoneIncludeParam</string>
	<key>reductionActionBound</key>
	<string>errorPatternCenter</string>
	<key>textureAlongMethod</key>
	<string>reducerActivityFeedback</string>
</dict>
</plist>
