<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertScopeVisible</key>
	<string>themeParamHue</string>
	<key>documentThroughPattern</key>
	<string>resourceMediatorInterval</string>
	<key>entityExceptScope</key>
	<string>invisibleCollectionOrientation</string>
	<key>futureAgainstLayer</key>
	<string>multiplicationNumberAppearance</string>
	<key>masterAdapterOpacity</key>
	<string>directlyProfileOpacity</string>
	<key>symbolPerDecorator</key>
	<string>requiredInterfaceStyle</string>
	<key>webSemanticsBrightness</key>
	<string>factoryInterpreterMomentum</string>
</dict>
</plist>
