<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitScopeFeedback</key>
	<string>coordinatorPatternAlignment</string>
	<key>interactorAlongJob</key>
	<string>streamIncludeType</string>
	<key>petAmongJob</key>
	<string>optionActionSize</string>
	<key>sequentialMatrixEdge</key>
	<string>themeTierScale</string>
</dict>
</plist>
