<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveLogarithmMode</key>
	<string>scrollableLayoutShape</string>
	<key>cubitIncludeDecorator</key>
	<string>resourceSinceJob</string>
	<key>heapTypeIndex</key>
	<string>activityFunctionDirection</string>
	<key>instructionContextCoord</key>
	<string>transitionUntilProcess</string>
	<key>menuViaMemento</key>
	<string>widgetVersusComposite</string>
	<key>modelStageContrast</key>
	<string>stackInNumber</string>
	<key>sceneCommandRate</key>
	<string>vectorProcessBottom</string>
	<key>secondPositionDelay</key>
	<string>curveMethodTransparency</string>
	<key>statefulLayerFrequency</key>
	<string>presenterOrObserver</string>
	<key>utilAgainstMode</key>
	<string>normalLocalizationTension</string>
</dict>
</plist>
