<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedIntensityVisible</key>
	<string>chartThanShape</string>
	<key>durationShapeShade</key>
	<string>builderJobTension</string>
	<key>functionalHandlerDelay</key>
	<string>decorationStrategyMomentum</string>
	<key>observerWithObserver</key>
	<string>borderContextOffset</string>
	<key>paddingChainVelocity</key>
	<string>hyperbolicRadioRate</string>
	<key>popupOutsidePlatform</key>
	<string>standaloneStateForce</string>
	<key>sineViaTier</key>
	<string>publicMenuOffset</string>
	<key>taskSingletonName</key>
	<string>graphicTierPosition</string>
	<key>touchStrategySaturation</key>
	<string>actionMediatorPressure</string>
	<key>viewViaStrategy</key>
	<string>titleFromScope</string>
</dict>
</plist>
