<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedExtensionSaturation</key>
	<string>batchAboutVar</string>
	<key>blocPhaseDensity</key>
	<string>cellByPattern</string>
	<key>expandedAgainstBridge</key>
	<string>decorationInSystem</string>
	<key>modulusSinceVisitor</key>
	<string>cartesianMethodCenter</string>
	<key>stackTaskHue</key>
	<string>axisStrategyHead</string>
</dict>
</plist>
