<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionAgainstVar</key>
	<string>baseStructureIndex</string>
	<key>exponentBeyondNumber</key>
	<string>queueObserverVisible</string>
	<key>interactiveTaskBrightness</key>
	<string>skinValueResponse</string>
	<key>semanticsDuringPlatform</key>
	<string>notificationParameterKind</string>
	<key>skirtOperationOrigin</key>
	<string>litePositionedVisibility</string>
	<key>smartStampDistance</key>
	<string>materialTaskTension</string>
</dict>
</plist>
