<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationActionTail</key>
	<string>consultativeTweenShape</string>
	<key>groupCommandTail</key>
	<string>symmetricProjectShade</string>
	<key>mobileLikeShape</key>
	<string>webEqualizationVelocity</string>
	<key>nodeScopeRight</key>
	<string>completerAwayFlyweight</string>
	<key>pageviewAmongNumber</key>
	<string>imageStateIndex</string>
	<key>requiredTaskSpacing</key>
	<string>boxshadowAmongFramework</string>
	<key>zoneProxyKind</key>
	<string>sinkJobContrast</string>
</dict>
</plist>
