<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalLayoutName</key>
	<string>agileLayoutSize</string>
	<key>cursorPlatformCount</key>
	<string>marginFlyweightShape</string>
	<key>interactiveRouterForce</key>
	<string>binaryAwayCommand</string>
	<key>playbackOfWork</key>
	<string>discardedMissionContrast</string>
	<key>standaloneCaptionCoord</key>
	<string>curveWorkBrightness</string>
	<key>statefulProxyOffset</key>
	<string>inheritedCheckboxSpeed</string>
	<key>uniqueSliderTag</key>
	<string>fixedTransitionInterval</string>
</dict>
</plist>
