<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonCallbackState</key>
	<string>immediateViewName</string>
	<key>controllerUntilActivity</key>
	<string>precisionExceptCycle</string>
	<key>exponentTempleTint</key>
	<string>stampMementoShape</string>
	<key>observerStageStyle</key>
	<string>canvasActionShape</string>
	<key>textViaPhase</key>
	<string>disabledConsumerRight</string>
</dict>
</plist>
