<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeFormInterval</key>
	<string>tweenNearInterpreter</string>
	<key>fixedSlashRate</key>
	<string>queueVariableVisibility</string>
	<key>gridInLevel</key>
	<string>exponentInterpreterPressure</string>
	<key>nodeMediatorAcceleration</key>
	<string>iterativeGraphicSkewx</string>
	<key>offsetAdapterAcceleration</key>
	<string>multiplicationStyleHue</string>
</dict>
</plist>
