<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedAllocatorHead</key>
	<string>getxFacadeTop</string>
	<key>columnExceptJob</key>
	<string>riverpodMediatorMode</string>
	<key>cycleBufferFlags</key>
	<string>prismaticCurveSpeed</string>
	<key>instructionAmongAdapter</key>
	<string>pinchableFutureMargin</string>
	<key>lastResultTheme</key>
	<string>oldAnimatedcontainerSpacing</string>
	<key>lossByStage</key>
	<string>secondDelegateSkewy</string>
	<key>parallelDependencySkewy</key>
	<string>projectActivityVelocity</string>
	<key>rectParameterBorder</key>
	<string>cubitVariableSkewx</string>
	<key>riverpodThanStructure</key>
	<string>observerFormPosition</string>
	<key>routeTempleTransparency</key>
	<string>diffableDescriptorFormat</string>
</dict>
</plist>
