<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellThanNumber</key>
	<string>statelessValueTail</string>
	<key>draggableFlexDirection</key>
	<string>publicArithmeticHue</string>
	<key>ephemeralRectMomentum</key>
	<string>significantCardVelocity</string>
	<key>equalizationLevelShade</key>
	<string>resourceWithKind</string>
	<key>nibStageOrientation</key>
	<string>labelPerStructure</string>
	<key>remainderAlongBuffer</key>
	<string>subscriptionMediatorDuration</string>
	<key>singlePresenterOrigin</key>
	<string>heapWithoutWork</string>
</dict>
</plist>
