<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectFunctionHue</key>
	<string>compositionalLoopSkewy</string>
	<key>assetDecoratorTint</key>
	<string>awaitCommandDirection</string>
	<key>assetFormInterval</key>
	<string>denseGridTag</string>
	<key>controllerFormCenter</key>
	<string>factoryLayerForce</string>
	<key>convolutionInsideCycle</key>
	<string>localizationPatternOpacity</string>
	<key>desktopMapVisible</key>
	<string>tickerAlongStage</string>
	<key>exceptionLevelMargin</key>
	<string>tangentBeyondState</string>
	<key>groupStructureState</key>
	<string>activeBoxshadowRotation</string>
	<key>layoutOperationPadding</key>
	<string>consultativeAspectCount</string>
	<key>staticBehaviorBorder</key>
	<string>repositoryAroundBridge</string>
</dict>
</plist>
