<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>factoryOrStage</key>
	<string>disabledBinaryPadding</string>
	<key>seamlessCompositionTransparency</key>
	<string>effectExceptStrategy</string>
	<key>segueProxyDepth</key>
	<string>instructionVarMargin</string>
	<key>topicDuringCycle</key>
	<string>heroShapeSkewx</string>
</dict>
</plist>
