<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineFormContrast</key>
	<string>descriptionThanKind</string>
	<key>brushWithoutFacade</key>
	<string>factoryAtStrategy</string>
	<key>nativeVectorVisible</key>
	<string>cosineScopeBound</string>
	<key>radioActivityMargin</key>
	<string>granularPreviewOffset</string>
	<key>requiredSingletonResponse</key>
	<string>seamlessStoreAppearance</string>
	<key>standaloneCompletionPadding</key>
	<string>reactiveProviderSkewx</string>
	<key>subscriptionLikeFramework</key>
	<string>observerVisitorOffset</string>
	<key>switchAsVar</key>
	<string>nativeRequestKind</string>
	<key>textAmongFramework</key>
	<string>entityContextStatus</string>
	<key>textScopeDistance</key>
	<string>hardTopicOrigin</string>
</dict>
</plist>
