<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarVersusChain</key>
	<string>sophisticatedResultAcceleration</string>
	<key>callbackDecoratorPosition</key>
	<string>chartAlongMediator</string>
	<key>easyGestureSize</key>
	<string>requestTypeType</string>
	<key>richtextThanTask</key>
	<string>gramDecoratorCoord</string>
	<key>widgetLayerLeft</key>
	<string>desktopQueueSpeed</string>
</dict>
</plist>
