<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionScopeBottom</key>
	<string>canvasInProxy</string>
	<key>asyncContextBorder</key>
	<string>loopAroundDecorator</string>
	<key>buttonObserverCenter</key>
	<string>cubeFromValue</string>
	<key>featureFacadeBrightness</key>
	<string>iterativeChannelStatus</string>
	<key>inheritedSinkIndex</key>
	<string>documentTaskForce</string>
	<key>sinkVariableBorder</key>
	<string>logarithmParameterForce</string>
	<key>statelessAwayPhase</key>
	<string>mediaTypeSize</string>
	<key>visibleControllerIndex</key>
	<string>graphByParam</string>
</dict>
</plist>
