<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelCycleVelocity</key>
	<string>activatedConstraintRate</string>
	<key>constraintUntilLevel</key>
	<string>challengeSinceForm</string>
	<key>particleVariableInterval</key>
	<string>segmentPatternPadding</string>
	<key>radioBeyondOperation</key>
	<string>lossOrStyle</string>
	<key>storageByLevel</key>
	<string>chartCommandPadding</string>
</dict>
</plist>
