<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionOrActivity</key>
	<string>layerDuringPlatform</string>
	<key>customizedLocalizationDuration</key>
	<string>ignoredProjectionBottom</string>
	<key>directlyModalSkewx</key>
	<string>techniqueInsideMode</string>
	<key>eagerDrawerOrientation</key>
	<string>masterJobAppearance</string>
	<key>managerContextTop</key>
	<string>signatureTypeVisible</string>
	<key>numericalStorageOffset</key>
	<string>unaryBridgeAlignment</string>
	<key>resultNumberKind</key>
	<string>crucialFrameCoord</string>
</dict>
</plist>
