<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitVersusLevel</key>
	<string>mobxSinceContext</string>
	<key>euclideanLogarithmRate</key>
	<string>singletonAtValue</string>
	<key>histogramWithoutForm</key>
	<string>batchSystemVelocity</string>
	<key>imageNumberPressure</key>
	<string>firstSizeRotation</string>
	<key>observerPrototypeVisibility</key>
	<string>characterBeyondMethod</string>
	<key>typicalTransformerInteraction</key>
	<string>allocatorDespiteLayer</string>
</dict>
</plist>
