<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocExceptAction</key>
	<string>sinkVersusKind</string>
	<key>cupertinoVersusStrategy</key>
	<string>normTypeBehavior</string>
	<key>overlayLayerColor</key>
	<string>immutablePositionInset</string>
	<key>skinVarBrightness</key>
	<string>geometricDelegateFormat</string>
	<key>statefulRequestBound</key>
	<string>giftAtChain</string>
	<key>textAlongLayer</key>
	<string>grayscaleAndVisitor</string>
	<key>unactivatedMetadataTag</key>
	<string>musicInsideKind</string>
</dict>
</plist>
