<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioSystemHue</key>
	<string>positionedOutsideSingleton</string>
	<key>checklistStyleDepth</key>
	<string>buttonParameterVisibility</string>
	<key>customizedResolverTag</key>
	<string>fragmentAmongPlatform</string>
	<key>mainAnimatedcontainerFormat</key>
	<string>beginnerStorageDirection</string>
	<key>originalPopupSize</key>
	<string>transitionPerChain</string>
	<key>staticContractionDuration</key>
	<string>aspectActivityContrast</string>
	<key>themeParamBottom</key>
	<string>factorySystemSkewx</string>
</dict>
</plist>
