<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveAndShape</key>
	<string>tableAndComposite</string>
	<key>factoryFlyweightBrightness</key>
	<string>arithmeticBaseScale</string>
	<key>nativeTimerSkewy</key>
	<string>isolateNearMethod</string>
	<key>richtextChainState</key>
	<string>aspectratioStyleShape</string>
	<key>signatureNumberPadding</key>
	<string>switchLikeEnvironment</string>
	<key>sineOfVariable</key>
	<string>expandedObserverFormat</string>
	<key>tangentDespiteState</key>
	<string>sharedModulusInset</string>
	<key>taskBesideLevel</key>
	<string>builderProxyDelay</string>
	<key>transformerAndDecorator</key>
	<string>missedObserverVisibility</string>
	<key>utilWithoutState</key>
	<string>delicateSubscriptionRate</string>
</dict>
</plist>
