<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iterativeTechniqueInset</key>
	<string>stampTypeScale</string>
	<key>newestLayoutInterval</key>
	<string>momentumByVar</string>
	<key>normSingletonKind</key>
	<string>multiplicationModeLeft</string>
	<key>permissiveTextureTint</key>
	<string>positionedWorkOffset</string>
	<key>positionedModeName</key>
	<string>petStructureResponse</string>
</dict>
</plist>
