<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionPrototypeOpacity</key>
	<string>radioAboutStructure</string>
	<key>activatedReductionPadding</key>
	<string>behaviorSingletonTension</string>
	<key>awaitVersusTask</key>
	<string>anchorInterpreterCenter</string>
	<key>positionFrameworkAppearance</key>
	<string>projectVarOffset</string>
	<key>remainderWithoutJob</key>
	<string>histogramAsLayer</string>
	<key>reusableDialogsDepth</key>
	<string>assetFormTension</string>
	<key>sliderAndFramework</key>
	<string>inactiveBatchInset</string>
	<key>tappableRouteCenter</key>
	<string>responsivePopupFormat</string>
</dict>
</plist>
