<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintIncludeActivity</key>
	<string>reductionBridgeTint</string>
	<key>isolateFunctionVisibility</key>
	<string>anchorStateFormat</string>
	<key>largeSliderValidation</key>
	<string>titleThanTier</string>
	<key>observerDuringFunction</key>
	<string>directlyVariantTag</string>
	<key>primaryFrameKind</key>
	<string>stackByWork</string>
	<key>sinkStructureCount</key>
	<string>autoTransitionCount</string>
	<key>standaloneChapterPadding</key>
	<string>tweenForDecorator</string>
	<key>textThanScope</key>
	<string>listenerTierName</string>
</dict>
</plist>
