<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exponentAlongSystem</key>
	<string>profileTypeFrequency</string>
	<key>geometricRequestSkewx</key>
	<string>convolutionSingletonContrast</string>
	<key>heroOfStyle</key>
	<string>chartAgainstKind</string>
	<key>ignoredLogAlignment</key>
	<string>persistentReducerSpacing</string>
	<key>seamlessTweenDepth</key>
	<string>sliderByPattern</string>
	<key>serviceScopeLocation</key>
	<string>unaryForProxy</string>
	<key>touchFlyweightTop</key>
	<string>awaitValueCoord</string>
</dict>
</plist>
