<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticProxyBrightness</key>
	<string>touchPerStructure</string>
	<key>bulletByMethod</key>
	<string>batchNearContext</string>
	<key>eventForCommand</key>
	<string>textfieldFormBrightness</string>
	<key>painterExceptTask</key>
	<string>cubitTierTag</string>
	<key>progressbarFromType</key>
	<string>invisibleDropdownbuttonVisibility</string>
	<key>repositoryIncludeStyle</key>
	<string>curveSystemCenter</string>
	<key>robustTextfieldPosition</key>
	<string>directlyIntensityRotation</string>
</dict>
</plist>
