<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetFrameworkAppearance</key>
	<string>asyncPlatformSize</string>
	<key>chapterLevelBottom</key>
	<string>numericalGrainDuration</string>
	<key>cupertinoAtMethod</key>
	<string>invisibleResourceInterval</string>
	<key>loopOfContext</key>
	<string>permanentMaterialCenter</string>
</dict>
</plist>
