<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedTextfieldRate</key>
	<string>curveActivityTail</string>
	<key>asyncLogarithmAcceleration</key>
	<string>priorityParamName</string>
	<key>builderDuringType</key>
	<string>rowActivityVisible</string>
	<key>exponentExceptChain</key>
	<string>anchorBeyondProcess</string>
	<key>navigationBeyondPlatform</key>
	<string>nodeIncludeState</string>
</dict>
</plist>
