<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitDecoratorOrientation</key>
	<string>durationFunctionBehavior</string>
	<key>diffableIntegerTint</key>
	<string>baseViaPrototype</string>
	<key>gramStyleDistance</key>
	<string>sophisticatedOptimizerAcceleration</string>
	<key>reductionForType</key>
	<string>compositionTierBound</string>
	<key>temporaryBuilderEdge</key>
	<string>lastAsyncAlignment</string>
</dict>
</plist>
