<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureInterpreterCenter</key>
	<string>handlerTierInteraction</string>
	<key>boxshadowInSingleton</key>
	<string>ephemeralConstraintName</string>
	<key>boxshadowStructureType</key>
	<string>allocatorFrameworkPadding</string>
	<key>equipmentBesideParam</key>
	<string>robustDrawerResponse</string>
	<key>exceptionMediatorPressure</key>
	<string>cosineAroundActivity</string>
	<key>mainShaderDensity</key>
	<string>taskBeyondFramework</string>
	<key>modulusScopeFeedback</key>
	<string>subpixelTempleForce</string>
</dict>
</plist>
