<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyOrShape</key>
	<string>mainGateRight</string>
	<key>discardedTimerSaturation</key>
	<string>custompaintNearAction</string>
	<key>interactiveExtensionForce</key>
	<string>nodeStructureCount</string>
	<key>popupDecoratorBorder</key>
	<string>metadataDespiteMemento</string>
	<key>rectThroughForm</key>
	<string>providerUntilShape</string>
	<key>resolverAwayVar</key>
	<string>stackAdapterInteraction</string>
	<key>scrollableRadioIndex</key>
	<string>monsterShapeVisible</string>
	<key>sinkStageTail</key>
	<string>pinchableButtonBound</string>
	<key>textureBufferBrightness</key>
	<string>tweenCycleName</string>
	<key>timerOrScope</key>
	<string>assetSingletonTop</string>
</dict>
</plist>
