<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flexiblePositionOrigin</key>
	<string>topicFormSkewx</string>
	<key>indicatorBridgeSize</key>
	<string>dialogsChainAlignment</string>
	<key>interfaceDecoratorInset</key>
	<string>projectionTypeInteraction</string>
	<key>responseExceptBuffer</key>
	<string>independentWorkflowDepth</string>
	<key>singletonVarTransparency</key>
	<string>kernelBufferResponse</string>
	<key>skirtAdapterBorder</key>
	<string>sensorDespiteVariable</string>
	<key>switchChainVelocity</key>
	<string>boxshadowCommandTransparency</string>
	<key>symmetricPointPressure</key>
	<string>observerInsideStage</string>
	<key>unactivatedResourceRotation</key>
	<string>ternaryAlongProxy</string>
</dict>
</plist>
