<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedTransformerInteraction</key>
	<string>coordinatorLayerTag</string>
	<key>directlyResolverTheme</key>
	<string>injectionPerVariable</string>
	<key>largeProtocolTag</key>
	<string>integerPrototypeTag</string>
	<key>queueStateInterval</key>
	<string>invisibleLocalizationOrigin</string>
	<key>responseTempleOpacity</key>
	<string>stateInsideLayer</string>
</dict>
</plist>
