<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intermediatePopupHead</key>
	<string>staticDecorationName</string>
	<key>layoutOrFunction</key>
	<string>accessoryAdapterTension</string>
	<key>optimizerPlatformDepth</key>
	<string>materialInterfaceFlags</string>
	<key>sinkBridgeTint</key>
	<string>handlerLikeAction</string>
	<key>specifierAmongPrototype</key>
	<string>responsePerStructure</string>
	<key>timerBesideContext</key>
	<string>sampleLikeState</string>
</dict>
</plist>
