<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileFutureSaturation</key>
	<string>parallelConstraintType</string>
	<key>interfaceFromStyle</key>
	<string>particleContextTransparency</string>
	<key>promiseMementoTop</key>
	<string>independentEntityValidation</string>
	<key>storeOperationFlags</key>
	<string>certificateVarInset</string>
	<key>textureInProcess</key>
	<string>firstColumnValidation</string>
</dict>
</plist>
