<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedCycleMargin</key>
	<string>optionAndValue</string>
	<key>associatedContainerMargin</key>
	<string>accessoryAmongLayer</string>
	<key>controllerIncludePattern</key>
	<string>transformerAndType</string>
	<key>convolutionAsValue</key>
	<string>segueModeLeft</string>
	<key>materialContainerDepth</key>
	<string>contractionShapeIndex</string>
	<key>nextConstraintSpeed</key>
	<string>independentDelegateTag</string>
	<key>plateWithoutParameter</key>
	<string>titleWithoutParam</string>
	<key>resourceContainDecorator</key>
	<string>directFragmentType</string>
	<key>sinkMementoTail</key>
	<string>prevConstraintColor</string>
	<key>widgetPatternInterval</key>
	<string>storageCycleBehavior</string>
</dict>
</plist>
