<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticUntilJob</key>
	<string>singlePopupBorder</string>
	<key>binaryScopeHue</key>
	<string>tweenInFunction</string>
	<key>boxshadowCycleKind</key>
	<string>textOperationContrast</string>
	<key>currentSliderHue</key>
	<string>crudeOptimizerMode</string>
	<key>dimensionInStructure</key>
	<string>subtleNavigatorInterval</string>
	<key>geometricReducerInterval</key>
	<string>difficultServiceTop</string>
	<key>gesturePhaseName</key>
	<string>comprehensiveLoopName</string>
	<key>indicatorFromKind</key>
	<string>diffableMonsterEdge</string>
	<key>mediaTempleKind</key>
	<string>discardedGrayscaleTag</string>
	<key>navigationAroundVisitor</key>
	<string>comprehensiveBlocType</string>
</dict>
</plist>
