<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopDependencyColor</key>
	<string>allocatorStateShape</string>
	<key>lossByMethod</key>
	<string>isolateAwayMethod</string>
	<key>nextCustompaintResponse</key>
	<string>streamKindBottom</string>
	<key>reductionUntilForm</key>
	<string>interfaceAsAction</string>
	<key>tweenValueDensity</key>
	<string>isolateProcessOrientation</string>
</dict>
</plist>
