<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeDelegateTint</key>
	<string>instructionStyleSaturation</string>
	<key>criticalClipperBrightness</key>
	<string>labelOutsideProcess</string>
	<key>gridviewWithChain</key>
	<string>hierarchicalRepositoryContrast</string>
	<key>hyperbolicNodeKind</key>
	<string>gemScopeRotation</string>
	<key>largeTextureValidation</key>
	<string>storeMementoDistance</string>
	<key>providerStageRotation</key>
	<string>nativeExtensionRotation</string>
	<key>routerPrototypeDepth</key>
	<string>visibleSinkAcceleration</string>
	<key>scaleAsParameter</key>
	<string>layoutSinceInterpreter</string>
</dict>
</plist>
