<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitProxyRotation</key>
	<string>responsiveReductionPressure</string>
	<key>easyBitrateDensity</key>
	<string>requestPatternTension</string>
	<key>equipmentActivityIndex</key>
	<string>visibleOffsetShade</string>
	<key>mediaObserverTint</key>
	<string>baseContainInterpreter</string>
	<key>mobileAllocatorVisible</key>
	<string>subpixelBufferInteraction</string>
	<key>pivotalMultiplicationFlags</key>
	<string>reducerBufferOffset</string>
	<key>primaryExtensionCoord</key>
	<string>curveLikeJob</string>
	<key>progressbarActionRotation</key>
	<string>themeLevelSkewy</string>
	<key>reducerThanProcess</key>
	<string>sineDecoratorSpacing</string>
	<key>specifyStreamTension</key>
	<string>reducerForParameter</string>
</dict>
</plist>
