<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAndFlyweight</key>
	<string>configurationPhaseTension</string>
	<key>contractionWithoutPlatform</key>
	<string>newestDurationAlignment</string>
	<key>dialogsAgainstMode</key>
	<string>labelVersusMediator</string>
	<key>scaffoldIncludeContext</key>
	<string>mainSegueSkewy</string>
	<key>scrollableNormOrigin</key>
	<string>newestCertificateSaturation</string>
	<key>visibleBitrateSpacing</key>
	<string>touchBesideVariable</string>
</dict>
</plist>
