<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedTimerLocation</key>
	<string>eventLevelSize</string>
	<key>independentInterfaceEdge</key>
	<string>bulletExceptBuffer</string>
	<key>injectionViaProxy</key>
	<string>protectedCurveVisible</string>
	<key>interfaceSingletonVelocity</key>
	<string>animationThroughAdapter</string>
	<key>navigatorLikeState</key>
	<string>momentumSinceTier</string>
	<key>optimizerMediatorSpacing</key>
	<string>largePresenterTransparency</string>
	<key>stateCompositeAcceleration</key>
	<string>commandOperationFlags</string>
	<key>storageBridgeFeedback</key>
	<string>buttonTempleBound</string>
	<key>techniqueThanProcess</key>
	<string>operationOperationTag</string>
	<key>viewDuringMemento</key>
	<string>gatePlatformTint</string>
</dict>
</plist>
