<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorCycleShade</key>
	<string>activatedButtonInterval</string>
	<key>axisDuringWork</key>
	<string>subtleSkirtPosition</string>
	<key>bufferFromFacade</key>
	<string>dependencyAtPlatform</string>
	<key>equipmentModeAppearance</key>
	<string>missedScreenAcceleration</string>
	<key>explicitFrameTint</key>
	<string>hashPlatformOffset</string>
	<key>gateNearContext</key>
	<string>sliderLikeActivity</string>
	<key>graphStrategyOrigin</key>
	<string>hardNibAlignment</string>
	<key>offsetJobRate</key>
	<string>utilVisitorTop</string>
	<key>resultStateOffset</key>
	<string>substantialWidgetShade</string>
	<key>subsequentSkinFlags</key>
	<string>positionedAwayJob</string>
</dict>
</plist>
