<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerDuringTask</key>
	<string>grainViaSystem</string>
	<key>awaitDespiteParam</key>
	<string>mediaqueryAgainstCycle</string>
	<key>binaryStateMode</key>
	<string>currentAccessorySize</string>
	<key>capsuleBeyondBridge</key>
	<string>fusedSymbolRate</string>
	<key>prismaticDependencySpacing</key>
	<string>sampleSystemBound</string>
	<key>remainderTaskHue</key>
	<string>allocatorMediatorPosition</string>
	<key>widgetExceptCommand</key>
	<string>vectorFormInset</string>
</dict>
</plist>
