<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorParameterIndex</key>
	<string>graphVersusProcess</string>
	<key>grainStyleEdge</key>
	<string>resultTypeCenter</string>
	<key>isolateStateBorder</key>
	<string>assetActionCount</string>
	<key>localizationAsStructure</key>
	<string>semanticChannelsTag</string>
	<key>mediumBorderColor</key>
	<string>imperativeStreamSpacing</string>
	<key>painterOperationCount</key>
	<string>serviceAboutVisitor</string>
	<key>pivotalFuturePosition</key>
	<string>denseGridviewSkewy</string>
	<key>queryJobAppearance</key>
	<string>commonInterpolationCenter</string>
	<key>responseIncludeFacade</key>
	<string>coordinatorInFunction</string>
	<key>uniformBlocPosition</key>
	<string>positionActivityHue</string>
</dict>
</plist>
