<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerViaBridge</key>
	<string>gridParameterDelay</string>
	<key>containerDecoratorPosition</key>
	<string>statefulSizeEdge</string>
	<key>eventThroughSingleton</key>
	<string>resultParameterSkewx</string>
	<key>grainTierCenter</key>
	<string>gemActionTheme</string>
	<key>opaqueSinkInteraction</key>
	<string>isolateLikeVariable</string>
	<key>scrollMementoMode</key>
	<string>sizedboxContainChain</string>
	<key>stepVarFrequency</key>
	<string>sliderUntilType</string>
	<key>tabbarEnvironmentCenter</key>
	<string>cubitValueTension</string>
	<key>unsortedContractionValidation</key>
	<string>alertAndProcess</string>
</dict>
</plist>
