<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleRouterState</key>
	<string>alignmentScopeForce</string>
	<key>catalystAlongSystem</key>
	<string>interactorStateMargin</string>
	<key>gridSystemFormat</key>
	<string>dedicatedEventLeft</string>
	<key>injectionSystemSpacing</key>
	<string>prismaticAllocatorStyle</string>
	<key>iterativeSliderFlags</key>
	<string>gridVisitorTransparency</string>
	<key>sliderVarValidation</key>
	<string>eagerHistogramMode</string>
	<key>subsequentRectLeft</key>
	<string>gridInterpreterPosition</string>
	<key>visibleIntegerShade</key>
	<string>cartesianWorkflowStyle</string>
</dict>
</plist>
