<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionTaskAcceleration</key>
	<string>semanticMomentumOpacity</string>
	<key>disabledInjectionTag</key>
	<string>dynamicExpandedFeedback</string>
	<key>finalMenuTag</key>
	<string>animatedcontainerInsideMode</string>
	<key>groupInValue</key>
	<string>imageKindHead</string>
	<key>protocolAtTemple</key>
	<string>heroAsActivity</string>
	<key>reductionThroughMemento</key>
	<string>accessibleRowStatus</string>
	<key>transitionInterpreterPosition</key>
	<string>textureForEnvironment</string>
</dict>
</plist>
