<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelObserverCount</key>
	<string>loopPerKind</string>
	<key>fusedScaleRotation</key>
	<string>uniformDecorationTheme</string>
	<key>priorDimensionDensity</key>
	<string>sequentialCurveHead</string>
	<key>projectionThanPlatform</key>
	<string>stackMediatorInterval</string>
	<key>sineDecoratorState</key>
	<string>cubitOrType</string>
</dict>
</plist>
