<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>framePerCommand</key>
	<string>mobxByVariable</string>
	<key>sensorOfState</key>
	<string>cubitProcessContrast</string>
</dict>
</plist>
