<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityThanShape</key>
	<string>rapidNodeName</string>
	<key>durationBufferIndex</key>
	<string>drawerAndBridge</string>
	<key>managerAlongStage</key>
	<string>chartAroundSingleton</string>
	<key>navigatorValueTag</key>
	<string>specifierAmongWork</string>
	<key>offsetWithoutTask</key>
	<string>zoneTierLeft</string>
	<key>scrollableBlocOffset</key>
	<string>widgetTaskTag</string>
	<key>seamlessFutureRate</key>
	<string>injectionCommandCoord</string>
	<key>storyboardStructureTop</key>
	<string>usedInteractorVisible</string>
	<key>tabbarDespiteProcess</key>
	<string>constButtonInteraction</string>
	<key>tensorDropdownbuttonDensity</key>
	<string>masterBesideContext</string>
</dict>
</plist>
