<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventBesideAdapter</key>
	<string>modelIncludePattern</string>
	<key>fusedSlashIndex</key>
	<string>opaqueCurveRotation</string>
	<key>newestExceptionFlags</key>
	<string>sizedboxContextVelocity</string>
	<key>providerContainPlatform</key>
	<string>invisibleCheckboxFrequency</string>
	<key>responsiveGetxVisibility</key>
	<string>immediateServiceMode</string>
	<key>sophisticatedLayerPressure</key>
	<string>sensorStageState</string>
	<key>viewMethodHue</key>
	<string>advancedTangentPressure</string>
	<key>zoneLikeFunction</key>
	<string>loopDuringLayer</string>
</dict>
</plist>
