<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableStoryboardValidation</key>
	<string>invisibleCertificateTail</string>
	<key>modelInsideMethod</key>
	<string>secondContractionRate</string>
	<key>spriteAgainstDecorator</key>
	<string>otherBehaviorHead</string>
</dict>
</plist>
