<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kernelNumberTail</key>
	<string>comprehensiveSpriteCenter</string>
	<key>modulusExceptAdapter</key>
	<string>labelForPattern</string>
	<key>textPerParameter</key>
	<string>drawerInFramework</string>
	<key>tweenUntilParam</key>
	<string>injectionThroughMediator</string>
</dict>
</plist>
