<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerChainHue</key>
	<string>imageExceptFunction</string>
	<key>injectionPrototypeOffset</key>
	<string>asyncAxisShape</string>
	<key>mediaLikeJob</key>
	<string>frameSinceFramework</string>
	<key>mutableMaterialSpacing</key>
	<string>newestProtocolBorder</string>
	<key>sampleStyleFlags</key>
	<string>coordinatorAdapterHue</string>
	<key>scrollAboutLevel</key>
	<string>durationOrLevel</string>
</dict>
</plist>
