<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateSystemDistance</key>
	<string>singleCacheBrightness</string>
	<key>denseGrainPosition</key>
	<string>masterShapeEdge</string>
	<key>effectDuringShape</key>
	<string>baseValueAcceleration</string>
	<key>invisibleListenerVisible</key>
	<string>retainedResolverType</string>
	<key>listenerWithMethod</key>
	<string>robustVariantForce</string>
	<key>projectionAboutSystem</key>
	<string>stateBridgeRight</string>
	<key>radioEnvironmentVisible</key>
	<string>constPopupTheme</string>
	<key>usecaseByForm</key>
	<string>certificateSinceDecorator</string>
</dict>
</plist>
