<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasExceptPrototype</key>
	<string>mutablePopupTension</string>
	<key>effectValueTop</key>
	<string>exponentViaNumber</string>
	<key>expandedThroughBridge</key>
	<string>cubitDuringSingleton</string>
	<key>gestureOfObserver</key>
	<string>graphicStyleBorder</string>
</dict>
</plist>
