<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryPrototypeTint</key>
	<string>interpolationAdapterEdge</string>
	<key>criticalModulusTail</key>
	<string>logarithmBufferSkewy</string>
	<key>missionAmongActivity</key>
	<string>gradientScopeOrigin</string>
	<key>modalIncludeKind</key>
	<string>comprehensiveGridviewTheme</string>
	<key>queueByScope</key>
	<string>resilientCompletionDelay</string>
	<key>rectDespiteCommand</key>
	<string>crudeHistogramBehavior</string>
	<key>statelessActivityTag</key>
	<string>gramEnvironmentShape</string>
	<key>taskSingletonBottom</key>
	<string>mobileShaderFrequency</string>
</dict>
</plist>
