<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveMasterInset</key>
	<string>specifierBeyondProxy</string>
	<key>completerDuringInterpreter</key>
	<string>animationForNumber</string>
	<key>hashTypeValidation</key>
	<string>actionNearStrategy</string>
	<key>sampleScopeSkewx</key>
	<string>beginnerIntegerInterval</string>
</dict>
</plist>
