<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>navigatorPhaseFlags</key>
	<string>buttonPerKind</string>
	<key>positionedStructureHue</key>
	<string>agileSkirtInset</string>
	<key>projectContainAction</key>
	<string>allocatorSystemFormat</string>
	<key>resizableBoxInteraction</key>
	<string>utilPhaseCenter</string>
</dict>
</plist>
