<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartAsBuffer</key>
	<string>storageEnvironmentDistance</string>
	<key>featureDecoratorCount</key>
	<string>enabledConfigurationEdge</string>
	<key>flexibleChallengeBound</key>
	<string>petBesideStrategy</string>
	<key>materialParamPressure</key>
	<string>normVarCenter</string>
	<key>publicUnarySkewy</key>
	<string>painterByFramework</string>
	<key>repositoryOrParameter</key>
	<string>normAwayPlatform</string>
</dict>
</plist>
