<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeControllerFeedback</key>
	<string>graphWorkShape</string>
	<key>buttonWorkName</key>
	<string>parallelMovementCenter</string>
	<key>comprehensiveFrameBorder</key>
	<string>aspectAroundFunction</string>
	<key>documentSinceObserver</key>
	<string>discardedCallbackPosition</string>
	<key>effectKindRotation</key>
	<string>labelContextInterval</string>
	<key>imageStateHue</key>
	<string>callbackScopeSkewx</string>
	<key>materialEffectHead</key>
	<string>collectionMediatorInterval</string>
	<key>routeObserverDuration</key>
	<string>labelPatternBrightness</string>
	<key>sampleOperationScale</key>
	<string>viewAwayTier</string>
	<key>statelessSubscriptionValidation</key>
	<string>activeInstructionSpacing</string>
</dict>
</plist>
