<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationAlongShape</key>
	<string>visibleCacheIndex</string>
	<key>durationNumberColor</key>
	<string>buttonMementoDensity</string>
	<key>notifierActionRate</key>
	<string>featureBesideVar</string>
	<key>richtextLevelHead</key>
	<string>commandStructureLeft</string>
	<key>semanticSensorFeedback</key>
	<string>frameInsideMode</string>
	<key>staticInterfaceResponse</key>
	<string>documentOutsideSingleton</string>
	<key>switchLayerShape</key>
	<string>mobileFromTemple</string>
	<key>symbolVariableValidation</key>
	<string>euclideanEventTheme</string>
	<key>tabbarInPlatform</key>
	<string>transformerViaFramework</string>
</dict>
</plist>
