<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderFlyweightStyle</key>
	<string>reusableCollectionPosition</string>
	<key>cartesianCurveInterval</key>
	<string>cosineValueHue</string>
	<key>delicateSegmentVisible</key>
	<string>skirtStateOffset</string>
	<key>futureExceptDecorator</key>
	<string>providerScopeSpeed</string>
	<key>profileTypeStyle</key>
	<string>symmetricVariantInterval</string>
	<key>requiredRouteHead</key>
	<string>routerDuringPlatform</string>
	<key>scaleAtProcess</key>
	<string>sequentialCardFormat</string>
	<key>sizedboxInInterpreter</key>
	<string>techniqueAlongVisitor</string>
	<key>transformerLevelVelocity</key>
	<string>subsequentTopicOrigin</string>
	<key>typicalMenuAppearance</key>
	<string>dynamicNodeOrigin</string>
</dict>
</plist>
