<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedSpineSize</key>
	<string>tensorRichtextIndex</string>
	<key>advancedScrollBound</key>
	<string>bufferAsObserver</string>
	<key>compositionalLayerTheme</key>
	<string>cubeViaFunction</string>
	<key>displayableExpandedPadding</key>
	<string>repositoryExceptCommand</string>
	<key>hyperbolicSwitchTheme</key>
	<string>disparatePreviewStatus</string>
	<key>interactiveLossOffset</key>
	<string>subscriptionAgainstVisitor</string>
	<key>navigationShapeKind</key>
	<string>protocolSinceFunction</string>
	<key>sampleSinceCommand</key>
	<string>interactorThroughWork</string>
	<key>similarTabviewMomentum</key>
	<string>directScreenInset</string>
	<key>sinePatternAppearance</key>
	<string>serviceActionColor</string>
</dict>
</plist>
