<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterWithoutParam</key>
	<string>nibMediatorDepth</string>
	<key>descriptionWorkRight</key>
	<string>flexStyleDensity</string>
	<key>fixedErrorValidation</key>
	<string>serviceWithoutFlyweight</string>
	<key>grainWithProcess</key>
	<string>standaloneDecorationState</string>
	<key>mediaqueryThanPlatform</key>
	<string>positionedAgainstPattern</string>
	<key>permissiveAnimationMode</key>
	<string>keyCharacterFlags</string>
	<key>previewStructureValidation</key>
	<string>euclideanActivityShape</string>
	<key>transitionOrObserver</key>
	<string>consumerNumberOffset</string>
</dict>
</plist>
