<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleSymbolRate</key>
	<string>decorationDuringPrototype</string>
	<key>delegateContainJob</key>
	<string>interactorWorkMomentum</string>
	<key>exceptionAwayType</key>
	<string>storagePhaseTag</string>
	<key>hyperbolicMaterialTension</key>
	<string>hardOffsetTag</string>
	<key>independentImageTail</key>
	<string>requestActionDirection</string>
	<key>similarHeroOpacity</key>
	<string>subsequentCupertinoSaturation</string>
</dict>
</plist>
