<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionBesideFacade</key>
	<string>retainedAsyncDirection</string>
	<key>cubitAdapterHead</key>
	<string>interactorObserverSaturation</string>
	<key>storeMementoVisibility</key>
	<string>keyPaddingBound</string>
	<key>subscriptionVariableTheme</key>
	<string>inheritedCompleterSize</string>
	<key>toolPlatformDelay</key>
	<string>resultForCommand</string>
</dict>
</plist>
