<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderFacadeHue</key>
	<string>boxshadowInForm</string>
	<key>labelFlyweightVelocity</key>
	<string>featureWithVar</string>
	<key>queueFormSpeed</key>
	<string>statelessAroundAction</string>
	<key>semanticsProcessTension</key>
	<string>immediateChartTag</string>
	<key>sequentialOperationCoord</key>
	<string>declarativeInjectionBrightness</string>
</dict>
</plist>
