<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensivePopupBound</key>
	<string>standaloneMenuVisibility</string>
	<key>documentStructureColor</key>
	<string>previewVarPressure</string>
	<key>exponentPerPattern</key>
	<string>directGestureKind</string>
	<key>gridviewAwayLevel</key>
	<string>cartesianExpandedBound</string>
	<key>listviewTierResponse</key>
	<string>modelPerVisitor</string>
	<key>materialProjectType</key>
	<string>priorityContextSpeed</string>
	<key>operationAgainstPlatform</key>
	<string>spriteAmongKind</string>
	<key>transitionIncludeJob</key>
	<string>radioContainVar</string>
</dict>
</plist>
