<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedProjectionOpacity</key>
	<string>oldNodeTheme</string>
	<key>buttonMethodBrightness</key>
	<string>equipmentKindAlignment</string>
	<key>custompaintSinceForm</key>
	<string>usageLikeActivity</string>
	<key>errorTypeCoord</key>
	<string>navigatorKindAppearance</string>
	<key>granularParticleBottom</key>
	<string>accordionPetResponse</string>
	<key>handlerNearSingleton</key>
	<string>secondProviderKind</string>
	<key>streamCycleBottom</key>
	<string>synchronousVectorMomentum</string>
	<key>viewOutsidePattern</key>
	<string>rectDespiteAction</string>
</dict>
</plist>
