<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryFrameworkVisible</key>
	<string>decorationFromObserver</string>
	<key>cellMementoBehavior</key>
	<string>priorIndicatorInterval</string>
	<key>concurrentDropdownbuttonSaturation</key>
	<string>animatedFragmentMargin</string>
	<key>containerContainParam</key>
	<string>hierarchicalListenerPressure</string>
	<key>histogramObserverTension</key>
	<string>segueInsideMemento</string>
	<key>isolateLevelFormat</key>
	<string>invisibleExceptionDelay</string>
	<key>rectPlatformValidation</key>
	<string>routerForJob</string>
	<key>sceneCompositeTension</key>
	<string>decorationInSystem</string>
	<key>staticMomentumTint</key>
	<string>characterContainInterpreter</string>
</dict>
</plist>
