<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalDecorationVelocity</key>
	<string>exceptionPerContext</string>
	<key>denseFactoryPadding</key>
	<string>captionContainType</string>
	<key>diversifiedSingletonDepth</key>
	<string>semanticCharacterLeft</string>
	<key>factoryDespiteTask</key>
	<string>opaqueDescriptionCount</string>
	<key>richtextAndFramework</key>
	<string>usecaseBesideVar</string>
</dict>
</plist>
