<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorInsideWork</key>
	<string>modelLevelOrigin</string>
	<key>fixedCoordinatorMomentum</key>
	<string>mobxPhaseValidation</string>
	<key>opaqueSingletonEdge</key>
	<string>substantialBufferVisibility</string>
	<key>subscriptionOfTemple</key>
	<string>accordionStoreRotation</string>
</dict>
</plist>
