<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalGroupHue</key>
	<string>resizableTopicDepth</string>
	<key>grainDespiteAction</key>
	<string>canvasAdapterSpeed</string>
	<key>labelOperationSaturation</key>
	<string>tickerInterpreterForce</string>
	<key>localizationDespiteDecorator</key>
	<string>cubitBufferAlignment</string>
	<key>mobileTopicSkewx</key>
	<string>disabledCommandAlignment</string>
	<key>originalRequestTag</key>
	<string>futureActivityOrigin</string>
	<key>requestFromPrototype</key>
	<string>lossPrototypeRotation</string>
	<key>resolverInBridge</key>
	<string>deferredSubscriptionTension</string>
	<key>symbolAndInterpreter</key>
	<string>accessibleKernelBottom</string>
</dict>
</plist>
