<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diversifiedProgressbarOrigin</key>
	<string>radiusTempleAlignment</string>
	<key>exceptionSincePrototype</key>
	<string>channelsOrMediator</string>
	<key>gestureOutsideType</key>
	<string>localizationBesideMemento</string>
	<key>overlaySystemIndex</key>
	<string>behaviorVariablePadding</string>
	<key>reductionSystemTag</key>
	<string>builderThroughFunction</string>
	<key>tangentMethodSkewx</key>
	<string>criticalTitleDirection</string>
</dict>
</plist>
