<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedTextureMomentum</key>
	<string>lossTaskInset</string>
	<key>dropdownbuttonOutsideTier</key>
	<string>numericalGraphPadding</string>
	<key>imperativeApertureAlignment</key>
	<string>greatSkinBorder</string>
	<key>listenerThroughMemento</key>
	<string>draggableResponseInset</string>
	<key>movementAboutNumber</key>
	<string>customCompletionHue</string>
	<key>platePerContext</key>
	<string>persistentPrecisionDirection</string>
	<key>rowAboutVariable</key>
	<string>scrollableCursorInterval</string>
	<key>subtleNibShape</key>
	<string>substantialAllocatorRotation</string>
	<key>symmetricUnaryMode</key>
	<string>finalGrainBehavior</string>
	<key>viewModePosition</key>
	<string>menuAlongFunction</string>
</dict>
</plist>
