<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitProxyState</key>
	<string>titleFormTransparency</string>
	<key>backwardZoneOrientation</key>
	<string>inheritedMobxShape</string>
	<key>interpolationContainAction</key>
	<string>mediaThanProcess</string>
	<key>mobxFacadeSkewx</key>
	<string>cartesianMemberState</string>
	<key>semanticsWithActivity</key>
	<string>giftAroundKind</string>
	<key>singletonLikeContext</key>
	<string>viewAroundStage</string>
	<key>transformerInContext</key>
	<string>asynchronousCurveVisibility</string>
</dict>
</plist>
