<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorVariableContrast</key>
	<string>opaqueSessionStatus</string>
	<key>finalAsyncLeft</key>
	<string>curveWithoutDecorator</string>
	<key>mapShapeVelocity</key>
	<string>optimizerTierMargin</string>
	<key>multiButtonTension</key>
	<string>imperativeGrayscaleBound</string>
	<key>richtextForMode</key>
	<string>boxshadowContextOpacity</string>
</dict>
</plist>
