<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticPainterCenter</key>
	<string>routerKindMargin</string>
	<key>bulletLayerSkewy</key>
	<string>optimizerTempleRight</string>
	<key>durationSinceAction</key>
	<string>providerProxyTop</string>
	<key>eventNearMode</key>
	<string>originalCurveDelay</string>
	<key>sceneForShape</key>
	<string>canvasCommandFeedback</string>
	<key>singletonStageBottom</key>
	<string>signatureAgainstStyle</string>
</dict>
</plist>
