<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousGiftFormat</key>
	<string>rowVersusParameter</string>
	<key>frameBySystem</key>
	<string>currentSpotCenter</string>
	<key>giftPhaseContrast</key>
	<string>masterOutsideMediator</string>
	<key>lastCubitShape</key>
	<string>themeCyclePressure</string>
</dict>
</plist>
