<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistAtKind</key>
	<string>directlyFeatureType</string>
	<key>checklistFormCount</key>
	<string>animationInterpreterTransparency</string>
	<key>containerStageRight</key>
	<string>columnVarSpacing</string>
	<key>notificationInsideInterpreter</key>
	<string>sophisticatedPlaybackSpeed</string>
	<key>priorityStateForce</key>
	<string>memberPerFunction</string>
	<key>tickerOutsideFunction</key>
	<string>opaquePageviewScale</string>
	<key>typicalButtonDirection</key>
	<string>dedicatedFutureForce</string>
	<key>viewMethodTag</key>
	<string>radiusStructureAppearance</string>
</dict>
</plist>
