<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeBitrateSpeed</key>
	<string>injectionAndFlyweight</string>
	<key>independentResponseInset</key>
	<string>permissiveDependencyBorder</string>
	<key>inheritedTitleTail</key>
	<string>statelessCharacterTheme</string>
	<key>rectDecoratorKind</key>
	<string>coordinatorDuringOperation</string>
	<key>sequentialInstructionName</key>
	<string>interactorObserverRate</string>
	<key>titleAndType</key>
	<string>storageSystemAcceleration</string>
	<key>variantAgainstPlatform</key>
	<string>consumerValueCoord</string>
</dict>
</plist>
