<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedGestureCount</key>
	<string>optimizerStateTransparency</string>
	<key>aspectratioEnvironmentEdge</key>
	<string>certificatePhaseState</string>
	<key>cacheThroughStrategy</key>
	<string>responsiveMenuSaturation</string>
	<key>cellPrototypeOrigin</key>
	<string>lazyProviderInset</string>
	<key>equipmentContextAlignment</key>
	<string>transitionSinceKind</string>
	<key>fixedSwiftLeft</key>
	<string>brushWithCycle</string>
	<key>liteLabelInset</key>
	<string>tangentModeStatus</string>
	<key>optionStateBrightness</key>
	<string>webSinkDensity</string>
	<key>requestDuringAction</key>
	<string>dropdownbuttonJobCount</string>
</dict>
</plist>
