<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionWithJob</key>
	<string>semanticGrainDistance</string>
	<key>sizeVarStatus</key>
	<string>localCaptionInset</string>
	<key>temporaryNodeType</key>
	<string>gradientViaPhase</string>
</dict>
</plist>
