<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureContextDepth</key>
	<string>threadWithPrototype</string>
	<key>checkboxContainType</key>
	<string>stampInsideStyle</string>
	<key>custompaintLikeLayer</key>
	<string>inheritedNodeDistance</string>
	<key>getxBeyondLevel</key>
	<string>bufferIncludeOperation</string>
	<key>interactorStateFeedback</key>
	<string>effectObserverFrequency</string>
	<key>usedViewResponse</key>
	<string>invisibleInjectionBehavior</string>
</dict>
</plist>
