<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitSinceObserver</key>
	<string>effectActivityIndex</string>
	<key>firstRoleValidation</key>
	<string>graphByParameter</string>
	<key>newestCompositionTail</key>
	<string>skirtFlyweightRate</string>
	<key>robustStateBrightness</key>
	<string>richtextParamOrientation</string>
	<key>transformerAwayFlyweight</key>
	<string>constSensorHead</string>
	<key>tweenObserverCenter</key>
	<string>menuFrameworkScale</string>
</dict>
</plist>
