<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredGroupTension</key>
	<string>subscriptionBridgeDirection</string>
	<key>granularBuilderVisibility</key>
	<string>tableStageVelocity</string>
	<key>histogramUntilActivity</key>
	<string>richtextSinceType</string>
	<key>mobileSensorAppearance</key>
	<string>drawerForLayer</string>
</dict>
</plist>
