<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisAwayKind</key>
	<string>localizationFunctionPadding</string>
	<key>beginnerStreamDistance</key>
	<string>boxshadowModeBound</string>
	<key>builderFrameworkEdge</key>
	<string>semanticModelMomentum</string>
	<key>configurationAdapterMode</key>
	<string>coordinatorLikeState</string>
	<key>mediumZoneTop</key>
	<string>similarCharacterInterval</string>
	<key>multiCoordinatorCoord</key>
	<string>agileReducerResponse</string>
	<key>richtextViaObserver</key>
	<string>commonThreadCoord</string>
	<key>sinkMementoIndex</key>
	<string>consultativeStepSize</string>
	<key>swiftDuringTask</key>
	<string>entityBufferVisible</string>
</dict>
</plist>
