<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultStorageDelay</key>
	<string>immutableInteractorMargin</string>
	<key>disparateActivityShape</key>
	<string>builderNearMediator</string>
	<key>durationIncludeFacade</key>
	<string>presenterAtPattern</string>
	<key>mobileAroundProxy</key>
	<string>tweenStageFrequency</string>
	<key>positionAtFramework</key>
	<string>notifierExceptPhase</string>
	<key>queueBeyondMemento</key>
	<string>mobxAboutBridge</string>
	<key>themeByType</key>
	<string>errorForTemple</string>
	<key>titleSingletonIndex</key>
	<string>injectionLikeComposite</string>
</dict>
</plist>
