<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryOfFlyweight</key>
	<string>typicalNotifierBound</string>
	<key>buttonPatternInterval</key>
	<string>capacitiesThroughLevel</string>
	<key>curveStyleInteraction</key>
	<string>usedGridOpacity</string>
	<key>keyButtonTag</key>
	<string>normalRectCount</string>
	<key>layoutInsideContext</key>
	<string>directSignRotation</string>
	<key>listenerLayerStyle</key>
	<string>listenerLevelLeft</string>
	<key>mainGradientState</key>
	<string>alignmentWithoutVar</string>
	<key>normProcessCenter</key>
	<string>resultOrFramework</string>
	<key>priorityAsAction</key>
	<string>nodeDespiteWork</string>
	<key>textEnvironmentMomentum</key>
	<string>spriteContainMode</string>
</dict>
</plist>
