<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptorAsShape</key>
	<string>signSinceStyle</string>
	<key>grayscaleParamSkewx</key>
	<string>curveVariableCount</string>
	<key>hyperbolicChartScale</key>
	<string>memberJobSaturation</string>
</dict>
</plist>
