<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>draggableSizeState</key>
	<string>displayablePrecisionBound</string>
	<key>mutableLayoutFlags</key>
	<string>screenThanContext</string>
	<key>shaderBeyondStructure</key>
	<string>usedGradientSize</string>
	<key>vectorProxyType</key>
	<string>radiusOperationIndex</string>
</dict>
</plist>
