<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncCompositeColor</key>
	<string>particleIncludeVisitor</string>
	<key>capsuleAmongTier</key>
	<string>criticalInteractorInteraction</string>
	<key>checklistLayerDirection</key>
	<string>instructionByJob</string>
	<key>dimensionByProcess</key>
	<string>semanticPointTop</string>
	<key>entropyValueContrast</key>
	<string>subsequentDecorationAcceleration</string>
	<key>opaqueContainerStyle</key>
	<string>customEffectDirection</string>
	<key>opaqueTopicRotation</key>
	<string>desktopPrioritySpacing</string>
	<key>promiseBufferShape</key>
	<string>explicitGateHue</string>
	<key>subscriptionByFramework</key>
	<string>containerOfTier</string>
	<key>substantialAllocatorDirection</key>
	<string>draggableSkirtLocation</string>
</dict>
</plist>
