<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeProjectionOffset</key>
	<string>managerWithParam</string>
	<key>eventDuringComposite</key>
	<string>transformerActionTag</string>
	<key>immediateNodeStatus</key>
	<string>largeBitrateBorder</string>
	<key>momentumTempleCenter</key>
	<string>gradientOfTemple</string>
	<key>responsePlatformName</key>
	<string>fragmentAboutPhase</string>
	<key>typicalTextStyle</key>
	<string>otherFrameSpacing</string>
</dict>
</plist>
