<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardNavigatorOffset</key>
	<string>coordinatorInsideMediator</string>
	<key>diversifiedResultSize</key>
	<string>streamVersusObserver</string>
	<key>greatMobxState</key>
	<string>accessoryWithStrategy</string>
	<key>isolateCycleSkewy</key>
	<string>blocMediatorForce</string>
	<key>isolateInStructure</key>
	<string>aspectEnvironmentAppearance</string>
	<key>resilientCharacterAcceleration</key>
	<string>movementFunctionMargin</string>
</dict>
</plist>
