<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveInLevel</key>
	<string>taskValueLocation</string>
	<key>displayableCoordinatorSpacing</key>
	<string>graphValueFormat</string>
	<key>normFunctionSize</key>
	<string>arithmeticChartRight</string>
	<key>oldTangentFrequency</key>
	<string>interfaceOrObserver</string>
	<key>resourceByAdapter</key>
	<string>transitionContextRight</string>
	<key>sinePlatformDistance</key>
	<string>transformerWithLevel</string>
	<key>ternaryParameterStatus</key>
	<string>singleCubitVisibility</string>
	<key>themeDecoratorColor</key>
	<string>brushScopeForce</string>
	<key>transitionAboutForm</key>
	<string>mediumStackCenter</string>
</dict>
</plist>
