<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionWithoutTier</key>
	<string>subtleViewDuration</string>
	<key>assetFacadeHead</key>
	<string>gemStateBrightness</string>
	<key>descriptorExceptProcess</key>
	<string>blocStyleTail</string>
	<key>exceptionScopeVisible</key>
	<string>gridNumberSkewx</string>
	<key>layerOfFacade</key>
	<string>storageBesideStrategy</string>
	<key>pageviewInVisitor</key>
	<string>resourceMediatorTail</string>
	<key>pinchablePageviewVelocity</key>
	<string>mobileTypeVisible</string>
	<key>sensorAlongValue</key>
	<string>entityLayerCenter</string>
</dict>
</plist>
