<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationIncludeSingleton</key>
	<string>rectPhaseBottom</string>
	<key>decorationWithState</key>
	<string>exceptionFrameworkTag</string>
	<key>overlayUntilJob</key>
	<string>graphInsideStructure</string>
	<key>routeCompositeBrightness</key>
	<string>navigatorCommandAcceleration</string>
	<key>significantBinaryScale</key>
	<string>dimensionUntilParameter</string>
	<key>spriteAboutBuffer</key>
	<string>intermediateNormDirection</string>
	<key>tableNearProcess</key>
	<string>injectionLikeCommand</string>
</dict>
</plist>
