<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowPrototypeDuration</key>
	<string>loopStageFeedback</string>
	<key>featureParamFrequency</key>
	<string>stackDecoratorSpeed</string>
	<key>imageAgainstTask</key>
	<string>grainWithSystem</string>
	<key>missedFutureSaturation</key>
	<string>concurrentTabviewBrightness</string>
	<key>permissiveProjectCount</key>
	<string>sliderContainKind</string>
	<key>spriteVisitorDensity</key>
	<string>topicVarDistance</string>
	<key>tableDuringType</key>
	<string>bufferModeOrigin</string>
</dict>
</plist>
