<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterShapePadding</key>
	<string>equalizationStructureCoord</string>
	<key>responseParamContrast</key>
	<string>skirtProcessStatus</string>
	<key>sinkValueBrightness</key>
	<string>resourceTierAlignment</string>
</dict>
</plist>
