<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyStoryboardStatus</key>
	<string>protectedReductionContrast</string>
	<key>documentIncludeAdapter</key>
	<string>alignmentObserverTension</string>
	<key>firstVariantVelocity</key>
	<string>missionIncludeMediator</string>
	<key>futureFromPhase</key>
	<string>flexibleMobileTag</string>
	<key>intermediateAssetBehavior</key>
	<string>metadataWorkValidation</string>
	<key>offsetBeyondPhase</key>
	<string>repositoryShapeDuration</string>
	<key>positionedAdapterRate</key>
	<string>curveTempleDelay</string>
	<key>smartTextTint</key>
	<string>remainderScopeSkewy</string>
	<key>stampViaActivity</key>
	<string>pageviewCommandCoord</string>
	<key>taskBesideBridge</key>
	<string>repositoryAlongScope</string>
</dict>
</plist>
