<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetInsideJob</key>
	<string>completionCycleShade</string>
	<key>consumerViaEnvironment</key>
	<string>navigationVarVisible</string>
	<key>controllerAwayCommand</key>
	<string>temporaryConvolutionRight</string>
	<key>directEntityEdge</key>
	<string>primaryAlignmentState</string>
	<key>metadataLayerPosition</key>
	<string>entityOperationColor</string>
	<key>mutableMemberHead</key>
	<string>globalTaskLeft</string>
	<key>otherButtonOpacity</key>
	<string>exponentOrOperation</string>
	<key>respectiveContractionTop</key>
	<string>discardedSineCoord</string>
	<key>serviceNearMethod</key>
	<string>instructionByProcess</string>
	<key>tickerUntilPattern</key>
	<string>secondRowResponse</string>
</dict>
</plist>
