<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleBesideBuffer</key>
	<string>layerStyleDelay</string>
	<key>euclideanBuilderRate</key>
	<string>flexibleChecklistAlignment</string>
	<key>ignoredLayerInset</key>
	<string>rapidInterfaceCount</string>
	<key>matrixBridgeValidation</key>
	<string>capsuleParameterMode</string>
	<key>mediaqueryMediatorInset</key>
	<string>cupertinoConvolutionVisibility</string>
	<key>nodeAwayScope</key>
	<string>groupAlongVisitor</string>
	<key>sliderInPhase</key>
	<string>menuWorkDuration</string>
	<key>staticCubeType</key>
	<string>specifierInBridge</string>
	<key>tweenBesideLevel</key>
	<string>resolverProxyBorder</string>
</dict>
</plist>
