<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryStageHue</key>
	<string>modalLikeStructure</string>
	<key>collectionFacadeSkewy</key>
	<string>sizeScopeBrightness</string>
	<key>newestDelegateScale</key>
	<string>rapidKernelHead</string>
	<key>sliderStrategyType</key>
	<string>smartCubitBehavior</string>
	<key>temporaryMetadataMomentum</key>
	<string>hardVectorInset</string>
	<key>unsortedRoleName</key>
	<string>popupOfParam</string>
</dict>
</plist>
