<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorFunctionPadding</key>
	<string>cacheAboutStyle</string>
	<key>asynchronousDescriptorCount</key>
	<string>resolverThroughPhase</string>
	<key>injectionNearAdapter</key>
	<string>subtleMasterSpacing</string>
	<key>retainedCapsuleRight</key>
	<string>directlyThreadRight</string>
	<key>spriteVariableOffset</key>
	<string>listenerInterpreterResponse</string>
</dict>
</plist>
