<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerTaskStatus</key>
	<string>enabledSkirtResponse</string>
	<key>delegateDespiteProxy</key>
	<string>discardedSizeBrightness</string>
	<key>explicitControllerState</key>
	<string>projectionShapeDirection</string>
	<key>secondTangentStatus</key>
	<string>symmetricDocumentState</string>
	<key>slashLayerLocation</key>
	<string>nextSemanticsKind</string>
	<key>stateLevelAppearance</key>
	<string>hierarchicalIconLocation</string>
	<key>uniqueGrainMomentum</key>
	<string>flexibleTransformerCenter</string>
</dict>
</plist>
