<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveSinceObserver</key>
	<string>stampFormDirection</string>
	<key>exponentBeyondTemple</key>
	<string>declarativeExceptionFrequency</string>
	<key>routerWithEnvironment</key>
	<string>rectVisitorInterval</string>
	<key>scaffoldCycleEdge</key>
	<string>buttonValueMargin</string>
	<key>sequentialIconBottom</key>
	<string>dimensionAroundFlyweight</string>
	<key>visibleHandlerPadding</key>
	<string>commonRoleRate</string>
</dict>
</plist>
