<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderAdapterScale</key>
	<string>zoneStructureMode</string>
	<key>brushProxyForce</key>
	<string>multiIconSaturation</string>
	<key>constraintAsMediator</key>
	<string>durationWorkCoord</string>
	<key>cupertinoPageviewRight</key>
	<string>ignoredDependencyFlags</string>
	<key>graphTempleVelocity</key>
	<string>groupOfMediator</string>
	<key>indicatorFunctionVisibility</key>
	<string>staticGridviewName</string>
	<key>kernelExceptProcess</key>
	<string>sizeThanLevel</string>
	<key>loopPatternSkewx</key>
	<string>hyperbolicRectStyle</string>
	<key>navigatorInterpreterDuration</key>
	<string>sizeExceptFacade</string>
	<key>viewTypeVisibility</key>
	<string>roleAwayShape</string>
</dict>
</plist>
