<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertBridgeRate</key>
	<string>intensityOutsideFlyweight</string>
	<key>alignmentContainForm</key>
	<string>getxTaskCenter</string>
	<key>arithmeticForTask</key>
	<string>substantialMissionMomentum</string>
	<key>buttonAdapterLeft</key>
	<string>workflowVarInset</string>
	<key>graphicAlongStrategy</key>
	<string>pointScopeBound</string>
	<key>routeInterpreterInset</key>
	<string>asynchronousCertificateBorder</string>
	<key>spineCompositeBound</key>
	<string>liteBrushTransparency</string>
	<key>spineThanInterpreter</key>
	<string>routerMethodIndex</string>
	<key>temporarySignatureSaturation</key>
	<string>sharedErrorDirection</string>
</dict>
</plist>
