<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocPatternFeedback</key>
	<string>serviceWithoutProcess</string>
	<key>diversifiedBufferBorder</key>
	<string>blocProxyLocation</string>
	<key>effectTypeTheme</key>
	<string>mobxVersusJob</string>
	<key>equipmentStrategySpacing</key>
	<string>rapidPresenterPadding</string>
	<key>positionedOperationStatus</key>
	<string>completerParameterDelay</string>
</dict>
</plist>
