<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisSystemOrientation</key>
	<string>fixedProviderBottom</string>
	<key>certificateProxyShape</key>
	<string>durationCompositeFrequency</string>
	<key>presenterPrototypeSpacing</key>
	<string>gesturedetectorAdapterDistance</string>
	<key>stepDecoratorTransparency</key>
	<string>asynchronousTechniqueDensity</string>
	<key>threadLikeMemento</key>
	<string>scrollForType</string>
</dict>
</plist>
