<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseGraphMomentum</key>
	<string>observerNearTier</string>
	<key>interactorEnvironmentOffset</key>
	<string>effectIncludeStyle</string>
	<key>interpolationVersusFunction</key>
	<string>entropyViaProxy</string>
	<key>keyConvolutionLeft</key>
	<string>accessoryModeMode</string>
	<key>modulusVersusCycle</key>
	<string>pointVersusMethod</string>
	<key>priorTransitionAcceleration</key>
	<string>missedGramOpacity</string>
	<key>standaloneEffectEdge</key>
	<string>mutableRepositoryOrientation</string>
</dict>
</plist>
