<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertAsObserver</key>
	<string>descriptionTempleCoord</string>
	<key>dynamicInteractorTransparency</key>
	<string>ephemeralBinaryInset</string>
	<key>imperativeTableBehavior</key>
	<string>transformerVarResponse</string>
	<key>rowAgainstFlyweight</key>
	<string>previewAsTask</string>
	<key>scaffoldJobRotation</key>
	<string>tabbarTaskBehavior</string>
	<key>subpixelIncludeProcess</key>
	<string>unaryUntilTier</string>
	<key>webRemainderOpacity</key>
	<string>futureAgainstCycle</string>
</dict>
</plist>
