<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledAlignmentAcceleration</key>
	<string>channelsContextSkewy</string>
	<key>lastAssetTop</key>
	<string>errorOperationBorder</string>
	<key>robustSignStyle</key>
	<string>resizableExtensionMode</string>
	<key>scaleBeyondTier</key>
	<string>shaderThroughType</string>
	<key>streamSinceObserver</key>
	<string>composableSliderPadding</string>
	<key>widgetModeContrast</key>
	<string>specifierForFunction</string>
</dict>
</plist>
