<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionBesideVar</key>
	<string>eventProcessType</string>
	<key>aspectratioSinceNumber</key>
	<string>particleAlongVisitor</string>
	<key>reusableIntensityPadding</key>
	<string>autoLogarithmFormat</string>
	<key>tabviewInterpreterSaturation</key>
	<string>eventSystemInset</string>
</dict>
</plist>
