<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyGridSkewx</key>
	<string>modulusStyleRight</string>
	<key>gestureProxyOrientation</key>
	<string>webMarginColor</string>
	<key>mobxAboutStrategy</key>
	<string>textureExceptLevel</string>
	<key>originalLayerShape</key>
	<string>projectionAndNumber</string>
	<key>publicAlignmentContrast</key>
	<string>synchronousInkwellType</string>
	<key>sequentialAwaitFlags</key>
	<string>segmentCompositeState</string>
</dict>
</plist>
