<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorOfProcess</key>
	<string>blocEnvironmentEdge</string>
	<key>cartesianProtocolSaturation</key>
	<string>symbolSinceMethod</string>
	<key>offsetWithVar</key>
	<string>sharedEffectHead</string>
	<key>protectedUsecaseValidation</key>
	<string>dimensionCommandDirection</string>
	<key>routeModeAppearance</key>
	<string>synchronousFactoryDepth</string>
	<key>specifierTierMode</key>
	<string>subpixelFacadeIndex</string>
</dict>
</plist>
