<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerNumberStyle</key>
	<string>semanticConstraintSkewx</string>
	<key>durationPatternDepth</key>
	<string>immediateSliderPadding</string>
	<key>graphicAtState</key>
	<string>routerFlyweightPressure</string>
	<key>prevSpecifierResponse</key>
	<string>backwardAspectratioSkewx</string>
	<key>repositoryBufferAppearance</key>
	<string>shaderKindDirection</string>
	<key>smallGemTag</key>
	<string>durationAsShape</string>
	<key>subscriptionPatternTop</key>
	<string>oldOverlayShape</string>
</dict>
</plist>
