<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveAspectratioSkewx</key>
	<string>groupThroughContext</string>
	<key>criticalRoleLeft</key>
	<string>managerAboutInterpreter</string>
	<key>masterDespiteComposite</key>
	<string>basicPopupSkewx</string>
	<key>publicEventFrequency</key>
	<string>tabbarVersusChain</string>
	<key>subtleAlertShade</key>
	<string>sizeModeFormat</string>
	<key>topicIncludeState</key>
	<string>animationDuringFramework</string>
</dict>
</plist>
