<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentCompositeTension</key>
	<string>dynamicNormDirection</string>
	<key>curveIncludeVariable</key>
	<string>curveIncludeCommand</string>
	<key>futureMementoEdge</key>
	<string>marginMediatorFlags</string>
	<key>marginAndChain</key>
	<string>reductionWithJob</string>
	<key>nodeStyleContrast</key>
	<string>widgetStylePressure</string>
	<key>reusableStoreAlignment</key>
	<string>hyperbolicSensorPosition</string>
	<key>standaloneSizeLeft</key>
	<string>delegateExceptComposite</string>
	<key>tableAndComposite</key>
	<string>usecaseInsideFramework</string>
	<key>taskMementoEdge</key>
	<string>cupertinoCanvasTop</string>
</dict>
</plist>
