<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryPlatformOffset</key>
	<string>unactivatedInteractorTheme</string>
	<key>backwardContainerCoord</key>
	<string>richtextAdapterMargin</string>
	<key>labelVisitorBorder</key>
	<string>builderNearTier</string>
	<key>mobileCubeName</key>
	<string>consultativeEntityBorder</string>
	<key>popupStageRotation</key>
	<string>grayscaleBeyondAction</string>
	<key>routeInLevel</key>
	<string>dependencyBeyondProcess</string>
	<key>storageNearPlatform</key>
	<string>pivotalProviderForce</string>
	<key>synchronousListenerMomentum</key>
	<string>cubeContainMediator</string>
</dict>
</plist>
