<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disparateSinkDistance</key>
	<string>consumerStructureScale</string>
	<key>indicatorViaPrototype</key>
	<string>temporarySizeState</string>
	<key>requestInsideForm</key>
	<string>keyMultiplicationAlignment</string>
	<key>temporaryControllerInteraction</key>
	<string>singleGraphicTheme</string>
</dict>
</plist>
