<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderOrCycle</key>
	<string>canvasMediatorDepth</string>
	<key>constraintExceptVisitor</key>
	<string>sharedSignAppearance</string>
	<key>constraintWorkMomentum</key>
	<string>bufferInsidePlatform</string>
	<key>controllerFacadeTag</key>
	<string>finalCompletionVelocity</string>
	<key>effectWorkPadding</key>
	<string>catalystOrDecorator</string>
	<key>futureFunctionTint</key>
	<string>optionInAction</string>
	<key>mobxFlyweightPosition</key>
	<string>enabledStreamColor</string>
	<key>nextEventTop</key>
	<string>aspectratioBufferSkewy</string>
	<key>utilValueFrequency</key>
	<string>presenterForParam</string>
</dict>
</plist>
