<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionFunctionColor</key>
	<string>arithmeticTaskTail</string>
	<key>concurrentInstructionScale</key>
	<string>skirtNearMode</string>
	<key>errorAndBridge</key>
	<string>staticRoleColor</string>
	<key>immutableSegmentIndex</key>
	<string>multiSceneOpacity</string>
	<key>interfaceThanMode</key>
	<string>hardPresenterMode</string>
	<key>monsterUntilStage</key>
	<string>segmentSinceMemento</string>
	<key>movementStageSpacing</key>
	<string>stepStrategyShape</string>
	<key>singleAssetRight</key>
	<string>radiusFormValidation</string>
	<key>sinkNumberFeedback</key>
	<string>prismaticSensorBottom</string>
</dict>
</plist>
