<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorDuringDecorator</key>
	<string>responseTaskBehavior</string>
	<key>crucialBuilderResponse</key>
	<string>difficultCharacterIndex</string>
	<key>disparateDurationVisible</key>
	<string>symbolAlongDecorator</string>
	<key>elasticOptimizerHead</key>
	<string>storyboardDecoratorDistance</string>
	<key>positionedWithBuffer</key>
	<string>dimensionProxyRate</string>
	<key>similarDependencyOrientation</key>
	<string>multiplicationThroughForm</string>
</dict>
</plist>
