<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineStageOpacity</key>
	<string>offsetFormDelay</string>
	<key>capacitiesLayerAlignment</key>
	<string>gateActivityOrientation</string>
	<key>firstTablePosition</key>
	<string>mainDescriptionType</string>
	<key>hardLayoutSaturation</key>
	<string>dialogsAboutTask</string>
	<key>notificationThroughNumber</key>
	<string>usageAboutParameter</string>
	<key>opaqueCertificateInterval</key>
	<string>mobileOfChain</string>
	<key>publicPainterInterval</key>
	<string>newestGemTheme</string>
</dict>
</plist>
