<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intermediateFlexDelay</key>
	<string>optimizerKindSkewx</string>
	<key>smallProjectShape</key>
	<string>stampStyleHead</string>
	<key>staticCubitShape</key>
	<string>delegateFormDuration</string>
</dict>
</plist>
