<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultGetxShape</key>
	<string>equalizationScopeLeft</string>
	<key>immutableTweenMargin</key>
	<string>activeInjectionPressure</string>
	<key>inheritedTickerScale</key>
	<string>immutableViewDepth</string>
	<key>navigationAgainstFramework</key>
	<string>textByValue</string>
	<key>numericalPainterColor</key>
	<string>modelOperationDuration</string>
</dict>
</plist>
