<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelVisitorTension</key>
	<string>gateSinceMemento</string>
	<key>menuOrVar</key>
	<string>grainLevelScale</string>
	<key>robustGradientEdge</key>
	<string>decorationSinceShape</string>
	<key>sampleIncludeAction</key>
	<string>playbackPhaseBound</string>
	<key>storyboardFrameworkInteraction</key>
	<string>sceneExceptFunction</string>
</dict>
</plist>
