<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedInterfaceRight</key>
	<string>decorationIncludeComposite</string>
	<key>allocatorAlongWork</key>
	<string>curveVersusValue</string>
	<key>delegatePrototypeBorder</key>
	<string>concurrentNormScale</string>
	<key>equalizationFrameworkRight</key>
	<string>difficultTopicMomentum</string>
	<key>mobileStepRotation</key>
	<string>taskLikeFacade</string>
	<key>presenterFormRotation</key>
	<string>widgetPrototypeHue</string>
	<key>tabbarCycleFlags</key>
	<string>enabledSpotTension</string>
</dict>
</plist>
