<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableProgressbarMomentum</key>
	<string>textfieldChainDepth</string>
	<key>granularCupertinoOpacity</key>
	<string>pointFrameworkSaturation</string>
	<key>graphVarPosition</key>
	<string>ignoredZoneDirection</string>
	<key>hashSystemTail</key>
	<string>featureFormCoord</string>
	<key>inactivePreviewOrientation</key>
	<string>nodeVisitorStyle</string>
	<key>invisibleStampForce</key>
	<string>exponentOfMode</string>
	<key>iterativeDescriptionValidation</key>
	<string>awaitUntilComposite</string>
	<key>logStageDensity</key>
	<string>builderVariableLocation</string>
	<key>segueBesideBridge</key>
	<string>batchStageDelay</string>
	<key>statelessFlyweightBorder</key>
	<string>streamSinceInterpreter</string>
</dict>
</plist>
