<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseAboutTask</key>
	<string>durationPatternDepth</string>
	<key>binaryOutsideMemento</key>
	<string>independentTernaryBrightness</string>
	<key>catalystOfParam</key>
	<string>cubitContextOpacity</string>
	<key>decorationWithInterpreter</key>
	<string>materialSensorHue</string>
	<key>kernelSinceMemento</key>
	<string>sophisticatedActionTheme</string>
	<key>mediumSignRate</key>
	<string>featureMethodFeedback</string>
	<key>previewWithParam</key>
	<string>projectionVersusObserver</string>
	<key>storeFacadeScale</key>
	<string>histogramModeAppearance</string>
</dict>
</plist>
