<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlySignatureOrigin</key>
	<string>cubeFlyweightTransparency</string>
	<key>opaqueFactoryRate</key>
	<string>momentumForTask</string>
	<key>operationInterpreterTail</key>
	<string>navigatorAroundFramework</string>
	<key>shaderCompositeEdge</key>
	<string>threadBridgeHead</string>
</dict>
</plist>
