<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyChainAlignment</key>
	<string>progressbarStyleIndex</string>
	<key>observerAgainstTemple</key>
	<string>durationStageOrientation</string>
	<key>popupFunctionName</key>
	<string>remainderModeAcceleration</string>
	<key>screenModeHue</key>
	<string>scaleLikeStage</string>
	<key>titleDecoratorSpeed</key>
	<string>heroAdapterRight</string>
</dict>
</plist>
