<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticAboutVar</key>
	<string>projectionCommandInset</string>
	<key>asyncLogarithmDepth</key>
	<string>listviewProcessDensity</string>
	<key>responseChainAcceleration</key>
	<string>sceneVersusMode</string>
</dict>
</plist>
