<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentDecorationOrientation</key>
	<string>histogramIncludeChain</string>
	<key>customizedInkwellTint</key>
	<string>customPositionPadding</string>
	<key>enabledGraphicFeedback</key>
	<string>equalizationAroundPrototype</string>
	<key>flexibleGridInset</key>
	<string>geometricEquipmentForce</string>
	<key>nativeRadiusMomentum</key>
	<string>globalFragmentBehavior</string>
	<key>numericalPlaybackMargin</key>
	<string>currentNotifierContrast</string>
	<key>positionedCompositeOrientation</key>
	<string>modulusContainStyle</string>
	<key>singleNotificationOpacity</key>
	<string>cupertinoAgainstMemento</string>
	<key>switchStructureMargin</key>
	<string>immutableDecorationStyle</string>
</dict>
</plist>
