<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorVisitorLeft</key>
	<string>spotPrototypeShape</string>
	<key>binaryViaScope</key>
	<string>certificateSinceSystem</string>
	<key>bulletScopeMode</key>
	<string>titleAwayChain</string>
	<key>keyBlocVisible</key>
	<string>interfaceFormVisibility</string>
	<key>nativeErrorName</key>
	<string>memberAroundInterpreter</string>
	<key>nibPrototypeBound</key>
	<string>riverpodContextVisible</string>
	<key>permanentInterfaceLeft</key>
	<string>delegateTypePressure</string>
	<key>resourceTaskColor</key>
	<string>remainderTaskCount</string>
	<key>topicViaAction</key>
	<string>commonPreviewName</string>
</dict>
</plist>
