<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gridviewTaskSpeed</key>
	<string>tabbarAsSystem</string>
	<key>intensityKindHead</key>
	<string>navigationAboutOperation</string>
	<key>musicScopeOpacity</key>
	<string>loopAndEnvironment</string>
	<key>painterNearEnvironment</key>
	<string>sceneNumberTop</string>
	<key>repositoryDespitePrototype</key>
	<string>intermediateLabelForce</string>
	<key>robustBinaryType</key>
	<string>oldVariantCenter</string>
</dict>
</plist>
