<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousBitrateHead</key>
	<string>uniformStateBrightness</string>
	<key>baseScopeHue</key>
	<string>interfaceFlyweightFormat</string>
	<key>columnContextForce</key>
	<string>granularSignatureColor</string>
	<key>interpolationAmongOperation</key>
	<string>playbackLikeContext</string>
	<key>painterKindOrientation</key>
	<string>exponentAtStrategy</string>
	<key>popupForScope</key>
	<string>containerAroundPattern</string>
	<key>providerOutsideFlyweight</key>
	<string>sequentialCurveOffset</string>
	<key>synchronousGridviewVelocity</key>
	<string>usecaseNumberFormat</string>
</dict>
</plist>
