<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileExceptionFlags</key>
	<string>secondGesturedetectorAppearance</string>
	<key>autoTransformerOpacity</key>
	<string>navigatorWithoutForm</string>
	<key>channelPerChain</key>
	<string>animationDespiteContext</string>
	<key>consultativeSubscriptionForce</key>
	<string>asyncAnimatedcontainerTension</string>
	<key>gradientAtStyle</key>
	<string>rowContainLayer</string>
	<key>ignoredProgressbarStyle</key>
	<string>spotActionDistance</string>
	<key>listenerTemplePosition</key>
	<string>streamCompositeOpacity</string>
	<key>liteUsageMargin</key>
	<string>textureChainTag</string>
	<key>petOutsideFramework</key>
	<string>scrollProcessName</string>
	<key>providerThroughType</key>
	<string>listenerObserverBorder</string>
</dict>
</plist>
