<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritedRadiusDelay</key>
	<string>sustainableHashRate</string>
	<key>materialDurationMargin</key>
	<string>asyncForType</string>
	<key>offsetSystemTheme</key>
	<string>disabledCallbackDelay</string>
	<key>resultAroundStage</key>
	<string>workflowByInterpreter</string>
	<key>routerUntilMemento</key>
	<string>painterMementoMomentum</string>
	<key>stampAwayParameter</key>
	<string>semanticStoreOrigin</string>
</dict>
</plist>
