<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchAdapterOrientation</key>
	<string>variantAtKind</string>
	<key>diversifiedScaffoldRate</key>
	<string>immutableEqualizationScale</string>
	<key>gridTierCoord</key>
	<string>utilInsideStrategy</string>
	<key>rowParameterFrequency</key>
	<string>themeScopeTransparency</string>
	<key>skinParameterCenter</key>
	<string>layoutTaskSpeed</string>
</dict>
</plist>
