<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentWithoutVar</key>
	<string>channelScopeTransparency</string>
	<key>baselineOfBuffer</key>
	<string>decorationAgainstVariable</string>
	<key>callbackContainType</key>
	<string>instructionLikeForm</string>
	<key>logSingletonInset</key>
	<string>hierarchicalDropdownbuttonCoord</string>
	<key>rowKindEdge</key>
	<string>uniformStackCoord</string>
	<key>skirtInterpreterSkewx</key>
	<string>rowSingletonRotation</string>
	<key>storagePrototypeValidation</key>
	<string>sharedAsyncMode</string>
</dict>
</plist>
