<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>futureMediatorLocation</key>
	<string>popupLikeFramework</string>
	<key>localizationProcessFeedback</key>
	<string>paddingBufferName</string>
	<key>loopStyleFlags</key>
	<string>gramThanParam</string>
	<key>mobxTierBound</key>
	<string>intuitiveGetxHue</string>
</dict>
</plist>
