<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocFrameworkBorder</key>
	<string>streamActivityAppearance</string>
	<key>buttonOperationAppearance</key>
	<string>requestVisitorShade</string>
	<key>crucialExponentIndex</key>
	<string>builderDespiteParameter</string>
	<key>desktopLayoutStatus</key>
	<string>durationAboutOperation</string>
	<key>fusedContractionTag</key>
	<string>relationalTweenDensity</string>
	<key>kernelWorkMode</key>
	<string>unactivatedMethodOrigin</string>
	<key>threadExceptNumber</key>
	<string>permanentSpotTension</string>
</dict>
</plist>
