<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitFlyweightScale</key>
	<string>sizedboxPerComposite</string>
	<key>discardedEffectBottom</key>
	<string>statelessToolSpacing</string>
	<key>exponentActivitySkewx</key>
	<string>relationalSkinShade</string>
	<key>movementAmongInterpreter</key>
	<string>transitionEnvironmentInset</string>
	<key>stepTierMargin</key>
	<string>collectionOfFlyweight</string>
</dict>
</plist>
