<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerCurveRate</key>
	<string>positionIncludeFunction</string>
	<key>globalWidgetStatus</key>
	<string>rowPlatformLocation</string>
	<key>positionedOperationCoord</key>
	<string>containerPrototypeKind</string>
	<key>profileWithoutTier</key>
	<string>batchThroughDecorator</string>
	<key>sampleDespiteState</key>
	<string>prevCosineTransparency</string>
	<key>scaleFlyweightContrast</key>
	<string>uniformResourceStyle</string>
	<key>scrollAmongState</key>
	<string>instructionOrJob</string>
</dict>
</plist>
