<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedDelegateMode</key>
	<string>consultativeBlocTail</string>
	<key>elasticMarginMomentum</key>
	<string>segueNearTemple</string>
	<key>layoutAtProcess</key>
	<string>primaryAnchorTail</string>
	<key>widgetWorkPosition</key>
	<string>curveEnvironmentScale</string>
</dict>
</plist>
