<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxAtFacade</key>
	<string>providerStateAlignment</string>
	<key>entityWithoutKind</key>
	<string>consultativeControllerColor</string>
	<key>exceptionStageEdge</key>
	<string>switchStrategyMode</string>
	<key>opaqueSignatureTag</key>
	<string>sizedboxStructureOrigin</string>
	<key>overlayCompositeName</key>
	<string>agileDocumentBrightness</string>
	<key>viewPerParam</key>
	<string>lossWorkBrightness</string>
</dict>
</plist>
