<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleExponentShape</key>
	<string>widgetVarSkewy</string>
	<key>animationCompositeName</key>
	<string>presenterInWork</string>
	<key>associatedBorderScale</key>
	<string>referenceLayerTop</string>
	<key>gridMediatorBrightness</key>
	<string>asyncSpriteCenter</string>
	<key>methodCommandIndex</key>
	<string>tangentInsideActivity</string>
	<key>seamlessProviderSize</key>
	<string>callbackAroundScope</string>
	<key>smartConstraintSize</key>
	<string>granularNotifierContrast</string>
</dict>
</plist>
