<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyDrawerPadding</key>
	<string>workflowFrameworkOpacity</string>
	<key>futureStructureTail</key>
	<string>catalystStrategyHue</string>
	<key>greatAnimationName</key>
	<string>coordinatorVariableIndex</string>
	<key>inkwellMementoTransparency</key>
	<string>navigatorParameterShade</string>
	<key>mediaAndWork</key>
	<string>discardedActionState</string>
	<key>mutableErrorContrast</key>
	<string>globalColumnRotation</string>
	<key>routeContainValue</key>
	<string>greatQueueSize</string>
	<key>viewStagePressure</key>
	<string>segmentInLevel</string>
</dict>
</plist>
