<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonOfScope</key>
	<string>newestLabelOpacity</string>
	<key>relationalMobxInteraction</key>
	<string>protectedVariantOffset</string>
	<key>taskScopeFeedback</key>
	<string>mediocreViewForce</string>
	<key>uniformLocalizationBehavior</key>
	<string>skirtLikeContext</string>
</dict>
</plist>
