<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>prevResourceCenter</key>
	<string>durationUntilValue</string>
	<key>respectiveObserverAcceleration</key>
	<string>progressbarIncludeOperation</string>
	<key>subsequentRouterCoord</key>
	<string>resourceStructureDepth</string>
	<key>topicModeOpacity</key>
	<string>lossFormDistance</string>
</dict>
</plist>
