<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionDecoratorVisible</key>
	<string>singleSignPressure</string>
	<key>apertureUntilTier</key>
	<string>repositoryAroundScope</string>
	<key>associatedCompletionContrast</key>
	<string>primaryMethodCoord</string>
	<key>materialInstructionSaturation</key>
	<string>cupertinoTernaryTail</string>
	<key>pivotalProgressbarDistance</key>
	<string>immediateStateMomentum</string>
	<key>reductionProxyLocation</key>
	<string>desktopCubitSize</string>
</dict>
</plist>
