<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessiblePlateVisibility</key>
	<string>spotCompositeMomentum</string>
	<key>boxshadowTempleHead</key>
	<string>variantStyleStatus</string>
	<key>directlyRiverpodOrigin</key>
	<string>spriteSingletonDensity</string>
	<key>effectThanProcess</key>
	<string>unsortedTaskRight</string>
	<key>immutableMonsterDistance</key>
	<string>presenterPerProcess</string>
	<key>intermediateSliderInteraction</key>
	<string>gridviewContainParameter</string>
	<key>managerAtStage</key>
	<string>textPlatformSkewx</string>
	<key>mediaAndFunction</key>
	<string>labelProxyTint</string>
	<key>rapidLogarithmVisibility</key>
	<string>declarativeOverlayName</string>
	<key>tweenLevelTag</key>
	<string>permanentReducerBehavior</string>
</dict>
</plist>
