<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionNavigatorRotation</key>
	<string>priorityInsideLayer</string>
	<key>asynchronousDelegateTop</key>
	<string>specifyThemeEdge</string>
	<key>factorySingletonName</key>
	<string>tappableGiftRight</string>
	<key>factoryVersusScope</key>
	<string>resultTempleTop</string>
	<key>mediaqueryForInterpreter</key>
	<string>stackBesideValue</string>
</dict>
</plist>
