<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineStyleDepth</key>
	<string>canvasActivityDepth</string>
	<key>bitrateInterpreterAcceleration</key>
	<string>difficultSkirtOrigin</string>
	<key>cupertinoStampRight</key>
	<string>diversifiedAllocatorPressure</string>
	<key>matrixScopeScale</key>
	<string>eagerQueryCenter</string>
	<key>queryOrLevel</key>
	<string>sinkInterpreterInterval</string>
</dict>
</plist>
