<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>documentPhaseBehavior</key>
	<string>newestBlocFeedback</string>
	<key>futureInterpreterEdge</key>
	<string>staticSignatureFormat</string>
	<key>heapVariableVelocity</key>
	<string>referencePrototypeStatus</string>
	<key>observerContextBound</key>
	<string>inheritedCompletionStatus</string>
	<key>optimizerDespiteStrategy</key>
	<string>frameCycleType</string>
	<key>queueWithoutFlyweight</key>
	<string>constraintMethodScale</string>
	<key>routerMementoInteraction</key>
	<string>globalBuilderDuration</string>
	<key>stampInterpreterStyle</key>
	<string>explicitSymbolInset</string>
	<key>subsequentMobileSpacing</key>
	<string>mediaqueryDespiteInterpreter</string>
	<key>tabbarContextPressure</key>
	<string>pointMediatorOffset</string>
</dict>
</plist>
