<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerDespiteObserver</key>
	<string>switchContainChain</string>
	<key>metadataAtVisitor</key>
	<string>sizeBufferDuration</string>
	<key>skinPlatformTransparency</key>
	<string>extensionParamBrightness</string>
</dict>
</plist>
