<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalManagerVisible</key>
	<string>serviceCommandOffset</string>
	<key>comprehensiveVectorInset</key>
	<string>intuitiveUnaryMode</string>
	<key>dialogsLikePlatform</key>
	<string>responsiveRequestScale</string>
	<key>effectAwayStage</key>
	<string>eventVarAlignment</string>
	<key>managerBesideBridge</key>
	<string>serviceFromChain</string>
	<key>numericalEventMomentum</key>
	<string>hardSliderTheme</string>
	<key>sizedboxAlongParam</key>
	<string>channelAlongParameter</string>
</dict>
</plist>
