<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticAroundStage</key>
	<string>sessionParamDelay</string>
	<key>constraintInTask</key>
	<string>textureBridgeFeedback</string>
	<key>retainedSineBrightness</key>
	<string>allocatorBesideCycle</string>
	<key>scaffoldSingletonContrast</key>
	<string>tensorMapStatus</string>
	<key>secondTabbarFrequency</key>
	<string>menuViaStructure</string>
</dict>
</plist>
