<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedStateOrigin</key>
	<string>typicalContainerTheme</string>
	<key>baselineNearInterpreter</key>
	<string>cursorFormCount</string>
	<key>clipperNumberVisible</key>
	<string>currentPriorityStatus</string>
	<key>modalThroughParameter</key>
	<string>transitionIncludeStyle</string>
	<key>protectedControllerAppearance</key>
	<string>exponentAtLayer</string>
</dict>
</plist>
