<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarByParameter</key>
	<string>custompaintVersusJob</string>
	<key>protectedResolverKind</key>
	<string>storyboardTaskHue</string>
</dict>
</plist>
