<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionCosineTransparency</key>
	<string>rapidIntensityCoord</string>
	<key>interpolationJobBehavior</key>
	<string>mobxInParam</string>
	<key>reducerTierTail</key>
	<string>interfaceSingletonDepth</string>
	<key>scrollDuringBridge</key>
	<string>specifyChannelIndex</string>
	<key>symbolNearFlyweight</key>
	<string>functionalAlphaColor</string>
</dict>
</plist>
