<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorAgainstProxy</key>
	<string>temporaryLayerOrientation</string>
	<key>menuObserverInteraction</key>
	<string>presenterVariableFrequency</string>
	<key>multiPetDirection</key>
	<string>isolateValueVisible</string>
	<key>reducerForStructure</key>
	<string>protocolAboutType</string>
</dict>
</plist>
