<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocByProxy</key>
	<string>substantialModalDepth</string>
	<key>futurePhaseDensity</key>
	<string>opaqueZoneBrightness</string>
	<key>inactiveSliderDirection</key>
	<string>arithmeticAmongDecorator</string>
	<key>queueFacadeHue</key>
	<string>collectionViaActivity</string>
	<key>resultInLayer</key>
	<string>equipmentAtObserver</string>
	<key>sineWithBuffer</key>
	<string>notifierVariableTension</string>
	<key>sophisticatedQueryKind</key>
	<string>permanentBlocLocation</string>
	<key>stateAtStructure</key>
	<string>checkboxModeRate</string>
	<key>tabviewThroughBuffer</key>
	<string>navigationTierLeft</string>
</dict>
</plist>
