<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorDespiteScope</key>
	<string>hashFormOpacity</string>
	<key>cartesianArithmeticVelocity</key>
	<string>observerSingletonSpacing</string>
	<key>collectionSinceCycle</key>
	<string>decorationOutsideDecorator</string>
	<key>graphStageSkewy</key>
	<string>comprehensiveSessionFlags</string>
	<key>lostRadiusMomentum</key>
	<string>checkboxStructureInset</string>
	<key>optionSinceVar</key>
	<string>eventActivityTop</string>
	<key>switchNearAdapter</key>
	<string>viewOutsideVar</string>
</dict>
</plist>
