<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerNodeContrast</key>
	<string>currentStreamFrequency</string>
	<key>channelsDuringFlyweight</key>
	<string>tabviewObserverTag</string>
	<key>documentVisitorScale</key>
	<string>spotSinceMemento</string>
	<key>localizationJobOpacity</key>
	<string>utilVariableName</string>
	<key>priorityVarEdge</key>
	<string>interfaceStageCenter</string>
	<key>queueAsMode</key>
	<string>groupAlongMethod</string>
	<key>significantStateDelay</key>
	<string>positionChainInset</string>
</dict>
</plist>
