<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardVisitorPosition</key>
	<string>sharedProgressbarMode</string>
	<key>geometricTableFormat</key>
	<string>robustTouchVelocity</string>
	<key>loopTaskResponse</key>
	<string>radiusStructureDuration</string>
	<key>normLevelIndex</key>
	<string>offsetOfComposite</string>
	<key>semanticsProxyRight</key>
	<string>delegateUntilObserver</string>
	<key>stepWithoutMediator</key>
	<string>relationalManagerVisible</string>
</dict>
</plist>
