<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonExceptMemento</key>
	<string>labelTaskOffset</string>
	<key>requiredOptimizerSkewy</key>
	<string>materialProcessRate</string>
	<key>resourceDuringForm</key>
	<string>tabbarAmongFlyweight</string>
	<key>roleAtStrategy</key>
	<string>workflowAndMemento</string>
</dict>
</plist>
