<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleChannelsName</key>
	<string>transitionWithParam</string>
	<key>documentStructureContrast</key>
	<string>coordinatorJobSkewx</string>
	<key>fusedMenuBrightness</key>
	<string>sustainableDescriptionCenter</string>
	<key>inactiveInteractorBound</key>
	<string>navigatorForMemento</string>
	<key>metadataDespiteTier</key>
	<string>sizeFacadeDepth</string>
	<key>normalRadioSpeed</key>
	<string>boxAndVariable</string>
	<key>respectiveNavigationStyle</key>
	<string>localizationVariableSkewy</string>
	<key>skirtContextIndex</key>
	<string>listviewViaFlyweight</string>
</dict>
</plist>
