<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellJobCenter</key>
	<string>responseByStyle</string>
	<key>directlyResultAppearance</key>
	<string>signatureWithoutParameter</string>
	<key>disparateCanvasDistance</key>
	<string>protocolByBridge</string>
	<key>tensorStateType</key>
	<string>gesturedetectorSinceOperation</string>
</dict>
</plist>
