<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleEntityResponse</key>
	<string>immediateEffectStatus</string>
	<key>directParticleBorder</key>
	<string>specifierLayerRate</string>
	<key>missionSystemAlignment</key>
	<string>listenerInProxy</string>
	<key>mobileOfPattern</key>
	<string>featureUntilOperation</string>
	<key>nodeContextShape</key>
	<string>swiftVariableOrigin</string>
	<key>parallelMediaAlignment</key>
	<string>mainRowDistance</string>
	<key>priorityIncludeType</key>
	<string>progressbarProcessIndex</string>
	<key>progressbarUntilActivity</key>
	<string>disabledChannelsTheme</string>
	<key>tweenAwaySystem</key>
	<string>visibleAlignmentCoord</string>
	<key>unsortedModulusRate</key>
	<string>segmentDuringSingleton</string>
</dict>
</plist>
