<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowAwayFacade</key>
	<string>resourceForOperation</string>
	<key>completerUntilBridge</key>
	<string>capsuleActionInset</string>
	<key>indicatorStructureEdge</key>
	<string>eagerSensorDelay</string>
	<key>integerActionCenter</key>
	<string>asynchronousDependencyTint</string>
	<key>multiplicationForPrototype</key>
	<string>animationStateStatus</string>
	<key>particleForState</key>
	<string>temporarySizedboxName</string>
	<key>progressbarByContext</key>
	<string>eagerConstraintTheme</string>
	<key>singletonOperationState</key>
	<string>animatedcontainerAlongFunction</string>
</dict>
</plist>
