<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonSceneDirection</key>
	<string>builderAsBuffer</string>
	<key>loopDecoratorInteraction</key>
	<string>permissiveManagerOpacity</string>
	<key>otherMaterialBorder</key>
	<string>sustainableActionDirection</string>
	<key>providerFrameworkMode</key>
	<string>cubitFrameworkIndex</string>
	<key>scrollMediatorMargin</key>
	<string>labelFacadeForce</string>
	<key>scrollableSizedboxOpacity</key>
	<string>constraintLevelMode</string>
	<key>statefulObserverFormat</key>
	<string>hashInsideVariable</string>
	<key>tablePlatformSpeed</key>
	<string>blocInterpreterLocation</string>
</dict>
</plist>
