<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandContainLevel</key>
	<string>popupActionBottom</string>
	<key>durationByProxy</key>
	<string>providerFunctionHue</string>
	<key>explicitGesturedetectorKind</key>
	<string>resultInsideTemple</string>
	<key>gradientLayerDuration</key>
	<string>exceptionForSingleton</string>
	<key>presenterInScope</key>
	<string>gridBesideLevel</string>
	<key>querySingletonHue</key>
	<string>bufferAtLayer</string>
	<key>significantRiverpodFeedback</key>
	<string>overlayOperationBorder</string>
</dict>
</plist>
