<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianEntitySpacing</key>
	<string>greatAnchorForce</string>
	<key>commandDuringMemento</key>
	<string>stateChainDensity</string>
	<key>customizedGradientEdge</key>
	<string>tableTaskContrast</string>
	<key>inactiveProtocolDensity</key>
	<string>promiseAndMemento</string>
	<key>largeGraphResponse</key>
	<string>providerBeyondBuffer</string>
</dict>
</plist>
