<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveMementoBorder</key>
	<string>enabledCoordinatorRotation</string>
	<key>declarativeGraphStatus</key>
	<string>painterFacadeInterval</string>
	<key>decorationSystemMargin</key>
	<string>immediatePageviewOpacity</string>
	<key>featureBeyondForm</key>
	<string>semanticPaddingFeedback</string>
	<key>similarListenerDirection</key>
	<string>swiftContainAdapter</string>
	<key>usecaseInsideStructure</key>
	<string>comprehensiveTopicContrast</string>
	<key>vectorWithoutBridge</key>
	<string>disabledReferenceTheme</string>
</dict>
</plist>
