<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorShapeMomentum</key>
	<string>factoryUntilWork</string>
	<key>animationTempleFlags</key>
	<string>ternaryByMediator</string>
	<key>boxAlongType</key>
	<string>operationStyleTint</string>
	<key>rapidAsyncPadding</key>
	<string>intensityViaProxy</string>
	<key>singleMaterialResponse</key>
	<string>tickerOutsideVar</string>
	<key>streamWithPhase</key>
	<string>secondFutureDirection</string>
</dict>
</plist>
