<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateFromCycle</key>
	<string>playbackDecoratorSaturation</string>
	<key>movementWithSystem</key>
	<string>topicAboutPrototype</string>
	<key>operationPerOperation</key>
	<string>radiusAmongStrategy</string>
	<key>sampleNearOperation</key>
	<string>reactiveAspectCount</string>
	<key>textIncludeNumber</key>
	<string>offsetVersusFramework</string>
	<key>typicalThemeInteraction</key>
	<string>sinkBridgeSkewx</string>
</dict>
</plist>
