<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionAndVariable</key>
	<string>featureAgainstStrategy</string>
	<key>convolutionBufferOrigin</key>
	<string>originalReducerInset</string>
	<key>paddingAwayActivity</key>
	<string>storyboardCompositeTail</string>
	<key>playbackLikeVisitor</key>
	<string>capacitiesVarBorder</string>
	<key>pointFlyweightShade</key>
	<string>optimizerStageBorder</string>
	<key>respectiveSingletonFormat</key>
	<string>iterativeEntropyOffset</string>
	<key>shaderFacadeTint</key>
	<string>streamWithoutTier</string>
	<key>slashAndForm</key>
	<string>intuitiveLayerCount</string>
	<key>switchKindColor</key>
	<string>menuPhaseVisibility</string>
</dict>
</plist>
