<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imperativeDescriptionTop</key>
	<string>previewBeyondDecorator</string>
	<key>imperativeScaleDistance</key>
	<string>spriteStrategyValidation</string>
	<key>invisibleGraphEdge</key>
	<string>usecaseAroundTask</string>
	<key>mutableMenuDelay</key>
	<string>tableCycleDelay</string>
	<key>priorSubscriptionDuration</key>
	<string>intermediateResponseContrast</string>
	<key>queueAmongMediator</key>
	<string>serviceIncludePattern</string>
	<key>resizableCoordinatorHead</key>
	<string>accordionRemainderColor</string>
	<key>singletonAndTier</key>
	<string>textfieldMementoPadding</string>
</dict>
</plist>
