<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryBeyondBridge</key>
	<string>workflowAndVariable</string>
	<key>effectWorkHead</key>
	<string>primaryTaskDirection</string>
	<key>navigationMementoSpeed</key>
	<string>radiusFormTop</string>
	<key>particleVersusContext</key>
	<string>intuitiveSensorHue</string>
	<key>resizableTransformerStyle</key>
	<string>routeDuringShape</string>
	<key>workflowDespitePattern</key>
	<string>descriptorPerComposite</string>
	<key>zoneCommandSpacing</key>
	<string>cacheParameterSkewx</string>
</dict>
</plist>
