<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertSinceChain</key>
	<string>utilStyleDelay</string>
	<key>completerFunctionScale</key>
	<string>convolutionValueDepth</string>
	<key>constraintKindValidation</key>
	<string>chapterVariableSkewy</string>
	<key>consultativePositionContrast</key>
	<string>currentStreamInteraction</string>
	<key>containerAlongStyle</key>
	<string>memberProxyAcceleration</string>
	<key>lazyBoxshadowMode</key>
	<string>declarativeStepSkewx</string>
	<key>resizableOverlayPadding</key>
	<string>resultAlongSingleton</string>
	<key>responsiveSizeLeft</key>
	<string>matrixProxyStatus</string>
	<key>routeInterpreterBorder</key>
	<string>gridObserverSpacing</string>
</dict>
</plist>
