<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellAdapterState</key>
	<string>spriteFlyweightTheme</string>
	<key>chartDuringParameter</key>
	<string>effectJobRotation</string>
	<key>expandedWorkSize</key>
	<string>animatedLocalizationBorder</string>
	<key>intensityVersusForm</key>
	<string>instructionUntilVar</string>
	<key>localizationAwayVisitor</key>
	<string>directlySpineSpacing</string>
	<key>lostButtonRight</key>
	<string>completionInsideTier</string>
	<key>mediumRadiusAcceleration</key>
	<string>radioStateSkewx</string>
	<key>usedPainterSaturation</key>
	<string>injectionActivityDensity</string>
</dict>
</plist>
