<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineWithoutNumber</key>
	<string>fixedRemainderAcceleration</string>
	<key>descriptorDuringBuffer</key>
	<string>semanticLogarithmDelay</string>
	<key>eventIncludeMode</key>
	<string>containerNearObserver</string>
	<key>iconActionSize</key>
	<string>sinkAtObserver</string>
	<key>optimizerAtLevel</key>
	<string>buttonFacadeTheme</string>
	<key>subsequentSliderTransparency</key>
	<string>transitionPrototypeValidation</string>
</dict>
</plist>
