<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistCycleResponse</key>
	<string>completerDespiteVar</string>
	<key>completionMethodOrigin</key>
	<string>notificationObserverTag</string>
	<key>constraintBesideTemple</key>
	<string>serviceContainMethod</string>
	<key>ephemeralDecorationLocation</key>
	<string>menuOutsideProxy</string>
	<key>permissiveStatefulShade</key>
	<string>semanticButtonTail</string>
	<key>serviceVarBorder</key>
	<string>channelFrameworkDuration</string>
	<key>storeShapeTension</key>
	<string>referenceStructureForce</string>
</dict>
</plist>
