<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAmongSystem</key>
	<string>compositionThanNumber</string>
	<key>lostGrainRotation</key>
	<string>offsetPlatformBound</string>
	<key>menuAdapterScale</key>
	<string>marginNearJob</string>
	<key>originalOffsetSpeed</key>
	<string>sceneByForm</string>
	<key>petThanAction</key>
	<string>consumerInterpreterCenter</string>
</dict>
</plist>
