<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerThanValue</key>
	<string>statelessDuringWork</string>
	<key>coordinatorParameterMargin</key>
	<string>mobileButtonTension</string>
	<key>fixedSubscriptionState</key>
	<string>rectStrategyAppearance</string>
	<key>menuByVar</key>
	<string>originalErrorKind</string>
</dict>
</plist>
