<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isolateModeFrequency</key>
	<string>associatedDependencyCount</string>
	<key>localizationForWork</key>
	<string>interactorOrFunction</string>
	<key>multiNormMode</key>
	<string>widgetVersusInterpreter</string>
	<key>nextMonsterCoord</key>
	<string>mutableSkinDensity</string>
	<key>optionPerForm</key>
	<string>projectionAmongNumber</string>
	<key>sensorAwayLevel</key>
	<string>durationStageTag</string>
</dict>
</plist>
