<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousResultTheme</key>
	<string>responseExceptLevel</string>
	<key>dependencyFromSingleton</key>
	<string>borderInterpreterName</string>
	<key>stateEnvironmentTop</key>
	<string>scaffoldAboutLayer</string>
	<key>tappableScreenPressure</key>
	<string>skirtBufferIndex</string>
	<key>usagePatternTransparency</key>
	<string>progressbarStyleMomentum</string>
</dict>
</plist>
