<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioSinceTemple</key>
	<string>arithmeticRiverpodRight</string>
	<key>borderVisitorKind</key>
	<string>drawerFrameworkStyle</string>
	<key>materialQueryState</key>
	<string>resizableQueryKind</string>
	<key>particleOfMode</key>
	<string>richtextVisitorBehavior</string>
	<key>radiusBufferAppearance</key>
	<string>localSizedboxVisibility</string>
	<key>resolverVersusValue</key>
	<string>diffableScenePadding</string>
	<key>routeAndFramework</key>
	<string>presenterParameterBehavior</string>
	<key>sceneFromMemento</key>
	<string>menuValueMargin</string>
	<key>textureAwayTask</key>
	<string>layoutAtSingleton</string>
	<key>vectorActivityRotation</key>
	<string>baselineBufferDistance</string>
</dict>
</plist>
