<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionAwaitInset</key>
	<string>enabledProtocolSkewx</string>
	<key>chartViaPlatform</key>
	<string>repositoryMethodCoord</string>
	<key>disabledAlertFlags</key>
	<string>resourceSystemShape</string>
	<key>gramParamPadding</key>
	<string>coordinatorDuringJob</string>
	<key>presenterDecoratorRotation</key>
	<string>widgetAwayScope</string>
	<key>repositoryAndStructure</key>
	<string>oldPointBrightness</string>
	<key>requiredSceneLocation</key>
	<string>profileTypeBottom</string>
	<key>uniqueManagerColor</key>
	<string>metadataKindTheme</string>
	<key>widgetFacadeBehavior</key>
	<string>apertureForChain</string>
</dict>
</plist>
