<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleSegueDuration</key>
	<string>constraintPrototypeStyle</string>
	<key>animationStateDistance</key>
	<string>managerContainType</string>
	<key>eagerDecorationValidation</key>
	<string>immediateSpotHue</string>
	<key>equalizationBeyondLevel</key>
	<string>opaqueTangentTension</string>
	<key>gridLayerMargin</key>
	<string>isolateWithoutBuffer</string>
	<key>hierarchicalGateBrightness</key>
	<string>oldPrecisionInset</string>
	<key>providerOrActivity</key>
	<string>futureUntilBuffer</string>
	<key>smartDependencyFrequency</key>
	<string>monsterParamVisibility</string>
	<key>typicalExponentLocation</key>
	<string>callbackTypeDuration</string>
</dict>
</plist>
