<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeScreenTheme</key>
	<string>immutableSegmentInterval</string>
	<key>disabledKernelSpeed</key>
	<string>providerAsBuffer</string>
	<key>geometricErrorDirection</key>
	<string>topicVisitorShape</string>
	<key>hierarchicalFeatureVelocity</key>
	<string>retainedBlocDirection</string>
	<key>relationalAssetSkewy</key>
	<string>storageStructureTheme</string>
	<key>requestBesideCycle</key>
	<string>layoutOutsideBuffer</string>
	<key>typicalAxisRight</key>
	<string>normalStateFeedback</string>
</dict>
</plist>
