<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationTierTail</key>
	<string>immutableTimerRight</string>
	<key>chapterBesideScope</key>
	<string>requiredSymbolDelay</string>
	<key>chartFrameworkBrightness</key>
	<string>materialWithContext</string>
	<key>euclideanEqualizationColor</key>
	<string>signatureVersusMemento</string>
	<key>inkwellParamHead</key>
	<string>instructionAgainstChain</string>
	<key>mainGrayscaleStyle</key>
	<string>lazySwiftFormat</string>
	<key>publicViewPressure</key>
	<string>lastRadiusCoord</string>
	<key>respectiveInkwellKind</key>
	<string>iconNearLevel</string>
	<key>webStepFeedback</key>
	<string>tweenTempleShade</string>
</dict>
</plist>
