<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerTaskFrequency</key>
	<string>reusableRowBrightness</string>
	<key>curveThanMediator</key>
	<string>storageNumberState</string>
	<key>customMobileEdge</key>
	<string>cacheDecoratorStatus</string>
	<key>delicateViewPressure</key>
	<string>precisionTypeMomentum</string>
	<key>disabledCaptionInteraction</key>
	<string>originalResponseDuration</string>
	<key>disparateArithmeticPadding</key>
	<string>viewViaMemento</string>
	<key>modelAroundChain</key>
	<string>nativeCharacterHue</string>
	<key>prevDelegateSize</key>
	<string>queueSystemForce</string>
	<key>primaryChannelSaturation</key>
	<string>intensityAwayNumber</string>
	<key>zoneModeTop</key>
	<string>advancedChartIndex</string>
</dict>
</plist>
