<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellFrameworkSpeed</key>
	<string>synchronousExceptionAppearance</string>
	<key>futureWorkHead</key>
	<string>particleInStructure</string>
	<key>layerByVar</key>
	<string>brushShapeDirection</string>
	<key>semanticCallbackSkewx</key>
	<string>tabbarMementoDelay</string>
</dict>
</plist>
