<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>modalStructureFlags</key>
	<string>tangentDecoratorPressure</string>
	<key>momentumOrJob</key>
	<string>tensorDecorationLeft</string>
	<key>observerIncludeFramework</key>
	<string>routerThanTier</string>
	<key>positionWithoutContext</key>
	<string>graphBesideWork</string>
	<key>routeFrameworkPadding</key>
	<string>iconTaskTop</string>
	<key>sizeEnvironmentShade</key>
	<string>skirtProxyPressure</string>
	<key>uniformDelegateAlignment</key>
	<string>elasticObserverFlags</string>
</dict>
</plist>
