<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisWithoutState</key>
	<string>unsortedSampleOrientation</string>
	<key>comprehensiveSkirtBrightness</key>
	<string>utilAmongFunction</string>
	<key>delicateInkwellCenter</key>
	<string>overlayStrategyMode</string>
	<key>dependencyDuringKind</key>
	<string>smallExceptionForce</string>
	<key>plateBufferRight</key>
	<string>operationAgainstInterpreter</string>
	<key>statefulPopupInterval</key>
	<string>publicReferenceName</string>
	<key>substantialRowLocation</key>
	<string>sophisticatedListenerEdge</string>
	<key>timerExceptCommand</key>
	<string>routerSinceBridge</string>
</dict>
</plist>
