<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedControllerVisibility</key>
	<string>specifierContainStructure</string>
	<key>arithmeticDecoratorTop</key>
	<string>futureMediatorPressure</string>
	<key>reactiveProtocolTail</key>
	<string>compositionEnvironmentAlignment</string>
	<key>respectiveOverlayVelocity</key>
	<string>fragmentStyleType</string>
	<key>tweenPerNumber</key>
	<string>otherSensorPressure</string>
</dict>
</plist>
