<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnExceptType</key>
	<string>routePatternCoord</string>
	<key>durationTempleContrast</key>
	<string>firstCacheOpacity</string>
	<key>pageviewTempleSpacing</key>
	<string>routeTempleIndex</string>
	<key>textTierShade</key>
	<string>descriptionAboutFlyweight</string>
	<key>topicSingletonLocation</key>
	<string>mainTickerSpeed</string>
	<key>typicalFrameOrientation</key>
	<string>optionParamStatus</string>
</dict>
</plist>
