<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertCommandTag</key>
	<string>relationalLocalizationOpacity</string>
	<key>bitrateContainVariable</key>
	<string>fragmentBesideLayer</string>
	<key>handlerFacadeShape</key>
	<string>effectFromStructure</string>
	<key>immutableSinkPosition</key>
	<string>significantCubitSpacing</string>
	<key>logarithmWorkTag</key>
	<string>ignoredApertureDistance</string>
	<key>matrixTempleSkewy</key>
	<string>associatedNavigationForce</string>
	<key>swiftFormPressure</key>
	<string>responseFormOffset</string>
	<key>swiftVariableFrequency</key>
	<string>commandAlongInterpreter</string>
</dict>
</plist>
