<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicQueueCenter</key>
	<string>routeVisitorVisible</string>
	<key>fragmentShapeVisible</key>
	<string>interpolationAwayStyle</string>
	<key>hashAndLevel</key>
	<string>intermediateCharacterTension</string>
	<key>liteMonsterDelay</key>
	<string>musicAroundAdapter</string>
	<key>mapBesideEnvironment</key>
	<string>observerObserverBound</string>
	<key>repositoryNumberScale</key>
	<string>robustVectorOffset</string>
	<key>resourceTierSkewy</key>
	<string>deferredStepAcceleration</string>
	<key>responseChainHead</key>
	<string>lossFromActivity</string>
	<key>textAlongDecorator</key>
	<string>dedicatedPetIndex</string>
	<key>textAtMethod</key>
	<string>menuAroundPattern</string>
</dict>
</plist>
