<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionStyleScale</key>
	<string>missedObserverSkewx</string>
	<key>listenerViaLayer</key>
	<string>lazyPetSkewy</string>
	<key>localRouterFlags</key>
	<string>menuAroundShape</string>
	<key>resourceVisitorIndex</key>
	<string>radiusInBridge</string>
	<key>sharedGrainVisibility</key>
	<string>otherOptimizerCoord</string>
	<key>signAwayInterpreter</key>
	<string>materialBeyondType</string>
	<key>sizeBeyondPlatform</key>
	<string>sortedEqualizationOrientation</string>
	<key>subtleMomentumTop</key>
	<string>riverpodInterpreterMode</string>
</dict>
</plist>
