<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterEnvironmentState</key>
	<string>independentPointValidation</string>
	<key>coordinatorByMethod</key>
	<string>coordinatorAtEnvironment</string>
	<key>crucialFutureInset</key>
	<string>intuitiveTransitionBottom</string>
	<key>dependencyFrameworkHue</key>
	<string>sliderNumberAcceleration</string>
	<key>durationDuringChain</key>
	<string>interactiveMaterialPosition</string>
	<key>hardScrollPressure</key>
	<string>comprehensiveOffsetInterval</string>
	<key>normLikeMethod</key>
	<string>configurationPrototypeStyle</string>
	<key>pointShapeResponse</key>
	<string>resizableWidgetAcceleration</string>
	<key>techniqueInsideState</key>
	<string>responsiveAwaitMomentum</string>
	<key>viewThroughMode</key>
	<string>singleCompositionDelay</string>
</dict>
</plist>
