<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandLayerOffset</key>
	<string>aperturePrototypeContrast</string>
	<key>disparateBrushInterval</key>
	<string>declarativeMapInterval</string>
	<key>hardFlexTag</key>
	<string>comprehensiveMapCenter</string>
	<key>pinchableSymbolBrightness</key>
	<string>cartesianNibDensity</string>
	<key>profileMediatorVisible</key>
	<string>entropyTaskTheme</string>
	<key>storyboardFormSpeed</key>
	<string>tweenFunctionFrequency</string>
	<key>uniformConfigurationBrightness</key>
	<string>progressbarAwayWork</string>
	<key>unsortedActionAcceleration</key>
	<string>roleFormLeft</string>
</dict>
</plist>
