<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateWithStyle</key>
	<string>channelBeyondProxy</string>
	<key>effectOutsideSystem</key>
	<string>transformerAdapterSpacing</string>
	<key>methodStructureScale</key>
	<string>imageInsideStyle</string>
	<key>mutableGrainForce</key>
	<string>durationAndFramework</string>
	<key>roleFlyweightDepth</key>
	<string>permissiveDocumentDensity</string>
	<key>rowWithoutWork</key>
	<string>storyboardContainLayer</string>
	<key>sceneTypeSkewy</key>
	<string>callbackOutsideScope</string>
	<key>specifyTaskMomentum</key>
	<string>storyboardPrototypeOrientation</string>
	<key>webRouteMomentum</key>
	<string>modalStrategyMargin</string>
</dict>
</plist>
