<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedResourceSkewy</key>
	<string>subtleAlignmentColor</string>
	<key>commandWorkInteraction</key>
	<string>graphAtTemple</string>
	<key>gateForBuffer</key>
	<string>sliderAlongSystem</string>
	<key>storyboardThanMethod</key>
	<string>storyboardPrototypeMode</string>
</dict>
</plist>
