<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flexCommandOrigin</key>
	<string>smallMonsterColor</string>
	<key>frameNearTemple</key>
	<string>previewStageDensity</string>
	<key>mapTaskValidation</key>
	<string>euclideanCacheAppearance</string>
	<key>materialObserverFlags</key>
	<string>positionScopeDepth</string>
	<key>matrixFormPosition</key>
	<string>hashContextSaturation</string>
	<key>methodNearSystem</key>
	<string>sequentialBuilderType</string>
	<key>monsterAwayVariable</key>
	<string>extensionStyleTension</string>
	<key>popupProxyResponse</key>
	<string>opaqueControllerColor</string>
	<key>scaleLikeVisitor</key>
	<string>widgetContextBorder</string>
</dict>
</plist>
