<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>instructionMementoAcceleration</key>
	<string>providerByScope</string>
	<key>permissiveLogBrightness</key>
	<string>immutableDecorationType</string>
	<key>sortedPromiseBottom</key>
	<string>multiplicationInVar</string>
</dict>
</plist>
