<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderValueResponse</key>
	<string>richtextFrameworkShade</string>
	<key>denseAspectratioStyle</key>
	<string>overlayStageAppearance</string>
	<key>fixedNodeLeft</key>
	<string>tappableAspectratioMode</string>
	<key>handlerMethodShape</key>
	<string>titleAtStructure</string>
	<key>intensityStageSaturation</key>
	<string>greatScaffoldName</string>
	<key>isolateAmongSystem</key>
	<string>convolutionIncludeKind</string>
	<key>singletonExceptPrototype</key>
	<string>compositionalExceptionSkewx</string>
	<key>stepOfStage</key>
	<string>subpixelPlatformBrightness</string>
	<key>textAndValue</key>
	<string>expandedStageRotation</string>
</dict>
</plist>
