<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionActivityShade</key>
	<string>intensityNumberSize</string>
	<key>dynamicImageMode</key>
	<string>cubeBridgeSkewy</string>
	<key>futureVersusVisitor</key>
	<string>tableBufferPressure</string>
	<key>tappableDelegateScale</key>
	<string>originalExpandedRotation</string>
</dict>
</plist>
