<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintAsCommand</key>
	<string>isolateLevelPressure</string>
	<key>fixedPlateTransparency</key>
	<string>displayableChartRate</string>
	<key>immediateCompleterTag</key>
	<string>certificateSingletonMode</string>
	<key>queryAsBuffer</key>
	<string>cupertinoMediatorOpacity</string>
	<key>reducerNearState</key>
	<string>iconDecoratorDelay</string>
	<key>sizePerTask</key>
	<string>responseForSingleton</string>
	<key>sliderExceptPrototype</key>
	<string>petAwayEnvironment</string>
	<key>substantialMemberName</key>
	<string>managerFunctionTop</string>
</dict>
</plist>
