<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncLossAppearance</key>
	<string>inactiveInterfaceColor</string>
	<key>asynchronousGroupForce</key>
	<string>queryAroundChain</string>
	<key>checkboxExceptProcess</key>
	<string>eventStyleName</string>
	<key>compositionalLogBottom</key>
	<string>disparateMaterialName</string>
	<key>disabledParticleSkewx</key>
	<string>futureContextFrequency</string>
	<key>expandedWithLevel</key>
	<string>scrollableTweenState</string>
	<key>flexTaskDistance</key>
	<string>usedScrollTint</string>
	<key>integerAlongBridge</key>
	<string>commandProxyTail</string>
	<key>parallelNavigatorOrigin</key>
	<string>decorationAgainstShape</string>
	<key>sequentialRectPosition</key>
	<string>visibleMemberTheme</string>
</dict>
</plist>
