<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedSceneType</key>
	<string>layoutPerProxy</string>
	<key>alphaInterpreterStatus</key>
	<string>opaqueSemanticsFeedback</string>
	<key>desktopGraphAppearance</key>
	<string>buttonIncludeParam</string>
	<key>handlerSincePlatform</key>
	<string>aspectAndStructure</string>
	<key>hardCommandHue</key>
	<string>enabledObserverRate</string>
	<key>integerDespiteCommand</key>
	<string>permanentHashPressure</string>
	<key>mediaEnvironmentBound</key>
	<string>materialFacadeTop</string>
	<key>notifierExceptShape</key>
	<string>builderNearNumber</string>
</dict>
</plist>
