<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleSpriteTension</key>
	<string>previewAmongSystem</string>
	<key>accessoryPhaseLocation</key>
	<string>asyncVectorColor</string>
	<key>elasticToolTransparency</key>
	<string>heapThroughVariable</string>
	<key>entityInTier</key>
	<string>easyGrainTransparency</string>
	<key>gemAgainstCommand</key>
	<string>capsuleProxySkewy</string>
	<key>inkwellOperationFormat</key>
	<string>touchTaskScale</string>
	<key>mobileContextTag</key>
	<string>errorTypeColor</string>
	<key>remainderVarInterval</key>
	<string>mediaqueryFlyweightType</string>
	<key>responsiveGrainTail</key>
	<string>managerAgainstVar</string>
</dict>
</plist>
