<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisFromPattern</key>
	<string>independentMovementBound</string>
	<key>boxshadowAsShape</key>
	<string>uniformRichtextRotation</string>
	<key>navigatorChainStyle</key>
	<string>indicatorInsideCommand</string>
	<key>priorGridForce</key>
	<string>relationalMenuRight</string>
	<key>shaderForScope</key>
	<string>grainLikeTask</string>
	<key>smallExponentTransparency</key>
	<string>groupTempleSpeed</string>
	<key>textOrStyle</key>
	<string>decorationParameterFlags</string>
	<key>textureDespiteSystem</key>
	<string>accessibleTopicRotation</string>
	<key>zoneShapeType</key>
	<string>advancedListenerType</string>
</dict>
</plist>
