<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exponentUntilComposite</key>
	<string>builderInsideFramework</string>
	<key>inheritedDescriptorTail</key>
	<string>functionalRouteValidation</string>
	<key>labelAdapterVelocity</key>
	<string>grayscaleAndVariable</string>
	<key>playbackThroughPlatform</key>
	<string>spineLayerTransparency</string>
	<key>segmentProcessStatus</key>
	<string>multiDelegateLeft</string>
</dict>
</plist>
