<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitVariableColor</key>
	<string>crudeTitleVelocity</string>
	<key>cycleInterpreterTension</key>
	<string>entropyAsVisitor</string>
	<key>interactiveFactoryBrightness</key>
	<string>symbolDecoratorSize</string>
	<key>protectedGridPressure</key>
	<string>dialogsActivitySkewx</string>
	<key>stateActivityCount</key>
	<string>viewInsideStructure</string>
</dict>
</plist>
