<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concretePreviewTag</key>
	<string>streamAtActivity</string>
	<key>dialogsForFacade</key>
	<string>constraintByProxy</string>
	<key>fixedCubitRotation</key>
	<string>interfaceActivityStyle</string>
	<key>gridCompositeAppearance</key>
	<string>factoryBySystem</string>
	<key>intensityAgainstForm</key>
	<string>providerPerAdapter</string>
	<key>previewDespiteObserver</key>
	<string>constraintPhaseSkewx</string>
	<key>repositoryFlyweightBottom</key>
	<string>controllerTypeBrightness</string>
	<key>zoneChainDensity</key>
	<string>commonCapacitiesHead</string>
</dict>
</plist>
