<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>offsetLikeTask</key>
	<string>durationLikeFlyweight</string>
	<key>offsetWorkInteraction</key>
	<string>disparateExceptionOffset</string>
	<key>permanentCapsuleAcceleration</key>
	<string>specifyTextOrigin</string>
	<key>singlePresenterBorder</key>
	<string>sequentialReducerDistance</string>
	<key>stampAdapterBottom</key>
	<string>synchronousFactoryStyle</string>
</dict>
</plist>
