<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonAtParam</key>
	<string>blocTypeSkewx</string>
	<key>customPageviewFeedback</key>
	<string>cartesianStatelessMargin</string>
	<key>frameForTemple</key>
	<string>tablePlatformScale</string>
	<key>gridviewFromTier</key>
	<string>skinDuringEnvironment</string>
	<key>materialNotificationName</key>
	<string>statelessBridgeKind</string>
	<key>usecaseSystemCoord</key>
	<string>multiTopicDepth</string>
</dict>
</plist>
