<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationContextCoord</key>
	<string>sliderProcessCenter</string>
	<key>asyncFeatureFormat</key>
	<string>signCompositeDensity</string>
	<key>consultativeAlertTransparency</key>
	<string>stampBeyondPhase</string>
	<key>containerVarAlignment</key>
	<string>playbackStateAcceleration</string>
	<key>fixedSensorSpeed</key>
	<string>gridviewVariableTint</string>
	<key>histogramThroughMemento</key>
	<string>agileProtocolMomentum</string>
	<key>positionedContextMode</key>
	<string>kernelDecoratorKind</string>
	<key>projectionTempleDelay</key>
	<string>captionUntilComposite</string>
	<key>rowThanMemento</key>
	<string>storageOfMode</string>
	<key>uniformControllerMode</key>
	<string>allocatorCommandVisible</string>
</dict>
</plist>
