<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeThanMethod</key>
	<string>reducerActionSize</string>
	<key>crudeLabelResponse</key>
	<string>sensorStateMomentum</string>
	<key>handlerSinceForm</key>
	<string>cursorAboutCommand</string>
	<key>interpolationBeyondFunction</key>
	<string>materialDrawerTag</string>
	<key>missedAccessoryType</key>
	<string>delegateThanNumber</string>
	<key>tangentInForm</key>
	<string>geometricPopupHead</string>
	<key>tensorTextFeedback</key>
	<string>aspectratioLikeFlyweight</string>
	<key>textureTypeLocation</key>
	<string>smartArithmeticStyle</string>
	<key>tweenBesideVariable</key>
	<string>missedLossLocation</string>
	<key>viewInShape</key>
	<string>serviceBridgeCoord</string>
</dict>
</plist>
