<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionStrategyInset</key>
	<string>functionalBitratePressure</string>
	<key>interfaceCommandCount</key>
	<string>hashPrototypeType</string>
	<key>localNavigationCoord</key>
	<string>parallelTransitionRate</string>
	<key>queueThroughParam</key>
	<string>effectAwayMemento</string>
	<key>substantialConstraintSpeed</key>
	<string>otherTangentTag</string>
</dict>
</plist>
