<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterProxyDepth</key>
	<string>resilientDescriptionSkewx</string>
	<key>diffableProtocolInteraction</key>
	<string>finalGramRate</string>
	<key>elasticSpineRight</key>
	<string>difficultRowDuration</string>
	<key>metadataByVariable</key>
	<string>pinchableControllerTop</string>
	<key>otherExceptionCenter</key>
	<string>petParameterPressure</string>
	<key>streamScopeKind</key>
	<string>graphOutsideVisitor</string>
</dict>
</plist>
