<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionBufferPadding</key>
	<string>batchAtActivity</string>
	<key>animationStrategyRight</key>
	<string>uniqueNotificationOffset</string>
	<key>eventPhaseSkewy</key>
	<string>routeValueValidation</string>
	<key>mobileGridBorder</key>
	<string>taskPerComposite</string>
	<key>nativeTransitionFeedback</key>
	<string>presenterWorkSize</string>
	<key>storyboardOrFunction</key>
	<string>cacheChainMomentum</string>
</dict>
</plist>
