<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeDurationEdge</key>
	<string>protectedTitleOpacity</string>
	<key>adaptivePresenterDuration</key>
	<string>sliderTaskHead</string>
	<key>asynchronousParticleOpacity</key>
	<string>seamlessIntensityLocation</string>
	<key>decorationContextOffset</key>
	<string>gemStateBottom</string>
	<key>errorStageLocation</key>
	<string>interpolationProxyType</string>
	<key>firstStorageVelocity</key>
	<string>modulusNumberPosition</string>
	<key>mediumHeroLocation</key>
	<string>batchVariableTension</string>
	<key>singleMaterialRotation</key>
	<string>spineOperationColor</string>
</dict>
</plist>
