<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoTextAcceleration</key>
	<string>menuShapeAppearance</string>
	<key>intuitiveSinkForce</key>
	<string>semanticsFormVelocity</string>
	<key>mediaBridgeForce</key>
	<string>dedicatedAxisHue</string>
	<key>permissiveAccessoryTail</key>
	<string>sortedNavigatorCount</string>
	<key>radiusProxySkewy</key>
	<string>sophisticatedSceneMomentum</string>
	<key>ternaryStrategyLocation</key>
	<string>graphCompositeOffset</string>
</dict>
</plist>
