<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedSubpixelHead</key>
	<string>subsequentAssetCoord</string>
	<key>alignmentVarPressure</key>
	<string>serviceDespiteInterpreter</string>
	<key>curveInsideScope</key>
	<string>chapterOfComposite</string>
	<key>mediocreDelegateOffset</key>
	<string>sceneStageShade</string>
	<key>normalAnimationType</key>
	<string>completerStructureTop</string>
	<key>prevZoneSize</key>
	<string>navigatorVarRotation</string>
	<key>relationalSignatureOrigin</key>
	<string>declarativeMapFeedback</string>
	<key>sensorSinceVar</key>
	<string>otherResourceFormat</string>
	<key>sizeLevelBehavior</key>
	<string>spotWithoutInterpreter</string>
</dict>
</plist>
